.hidden {
    display: none
}

.one_IMG {
    height: 275px !important;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .one_IMG {
        height: 200px !important;
    }
}

.user_name button {
    text-align: left;
}

.messOld {
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 15px;
    background: #eee;
    padding: 10px 15px;
}

.router-link-exact-active.router-link-active .mess_userList {
    background: #f3f3f3 !important;
    border-left: 2px solid #ff5050 !important;
}

.chatBox .chatBoxContent .users_messageLeft .mess_userList.active {
    background: unset;
    border-left: unset;
}

.chatBox .chatBoxContent .users_messageLeft .mess_userList:hover {
    background-color: #f3f3f3 !important;
}

.a .stickers {
    display: block !important
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 111;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading span {
    font-size: 20px;
    color: #999;
}

.medias .img_ {
    height: 150px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.mess_userList {
    display: flex;
    align-items: center;
    border-top: 1px solid #eee;
    padding: 15px;
    cursor: pointer;
    border-left: 2px solid transparent;
    position: relative;
}

.mess_userList .nav {
    position: absolute;
    right: 0;
    top: 32px;
    margin: 0;
    padding: 0;
    display: none;
}

.mess_userList .nav li {
    display: inline-block;
    list-style: none;
    width: 100%;
}

.mess_userList .nav li .dropdown-toggle {
    color: #999;
    text-decoration: none;
    width: 100%;
    width: 40px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
}

.mess_userList .nav li .dropdown-toggle span {
    display: inline-block;
    margin-right: 5px;
    color: #999;
}

.mess_userList .nav .dropdown-menu {
    border: none;
    top: 30px;
    right: 2px;
    left: auto;
    min-width: 12rem;
    padding: 0;
    border: none;
    box-shadow: 0 0 10px #d1cdcd;
    margin: 0;
}

.mess_userList .nav .dropdown-menu a {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 6px 0 6px 15px;
    font-size: 14px;
}

.mess_userList .nav .dropdown-menu a span {
    color: #999;
    margin-right: 10px;
}

.mess_userList .nav .dropdown-menu a:hover {
    background: #eee;
    color: inherit;
}

.mess_userList:hover .nav {
    display: block;
}

.more button span {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(to right, #f508b7 0%, #9102ff 51%, #f508b7 100%);
    background-size: 200% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    margin-left: 15px;
    transition: all 1.5s;
}

.more button span:hover {
    background-position: right center;
    transition: all 1.5s;
}

.more.more .more_box {
    position: absolute;
    width: 200px;
    right: 0;
    background: #fff;
    z-index: 11;
    box-shadow: 0 0 10px #d1cdcd;
    border-radius: 5px 0 5px 5px;
    top: 70px;
    display: none;
}

.more.more .more_box a {
    display: flex;
    align-items: center;
    padding: 6px 0 6px 15px;
}

.more.more .more_box a:hover {
    background: #eee;
}

.more.more .more_box a span {
    color: #999;
    margin-right: 5px;
}

#EmojiPicker {
    position: absolute;
    bottom: 60px;
    left: 0;
    z-index: 99999999999;
}

.mContent_ {
     padding: 15px;
     background: #eee;
     border-radius: 10px 10px 0 10px;
     margin-bottom: 15px;
     margin-left: 15px;
     position: relative;
}
 .mContent_.v2 {
     margin-left: 0;
     margin-right: 15px;
     border-radius: 10px 10px 10px 0;
}
 .mContent_.v2 time {
     text-align: left;
}
 .mContent_ p.messTo {
     padding: 4px 15px;
     border: 1px dashed #999;
     font-style: italic;
     border-radius: 5px;
     margin-bottom: 15px;
     color: #999;
     font-style: italic;
     background: #fff;
     overflow: hidden;
     -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
     -webkit-line-clamp: 2;
     display: -webkit-box;
     -webkit-box-orient: vertical;
}
 .mContent_ p.messTo i {
     font-style: italic;
}
 .mContent_ p {
     display: flex;
     flex-direction: column;
}
 .mContent_ p time {
     font-size: 12px;
     margin-top: 5px;
     color: #999;
     text-transform: uppercase;
     text-align: right;
}
 .mContent_ p time span {
     font-size: 10px;
}
 .mContent_ .img_exet {
     display: flex;
     align-items: center;
     position: absolute;
     bottom: 0;
     left: 0;
     background: #fff;
     padding: 2px 5px;
     border-radius: 20px;
}
 .mContent_ .img_exet img {
     width: 25px;
     height: 25px;
}
 .mContent_ .img_exet span {
     color: #ff5050;
     font-size: 13px;
     margin-left: 3px;
}
 
.express_emotions .messTo {
    padding: 4px 15px;
    border: 1px dashed #999;
    font-style: italic;
    border-radius: 5px;
    margin-bottom: 15px;
    color: #999;
    font-style: italic;
    background:#fff;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
}

.express_emotions i {
    font-style: italic;
}