<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

    <link href="<%= BASE_URL %>css/bootstrap.min.css" type="text/css" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/eleganticons@0.0.1/css/style.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

    <link href="<%= BASE_URL %>css/animate.css" type="text/css" rel="stylesheet">
    <link href="<%= BASE_URL %>css/hover-min.css" type="text/css" rel="stylesheet">
    <link href="<%= BASE_URL %>css/main.css" type="text/css" rel="stylesheet">
    <link href="<%= BASE_URL %>css/custom.css" type="text/css" rel="stylesheet">

    <script src="<%= BASE_URL %>js/jquery.js"></script>
    <script src="<%= BASE_URL %>js/script.js"></script>
    <script src="<%= BASE_URL %>js/wow.min.js"></script>
</head>

<body>
    <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>