<template>
    <div>
        <div class="chatBox">
            <div class="container ctn_st">
                <div class="chatBoxContent">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 fixcol">
                            <div class="users_messageLeft">
                                
                                <user-info></user-info>

                                <create-room></create-room>
                                
                                <forward-message></forward-message>

                                <add-member></add-member>

                                <list-rooms></list-rooms>

                            </div>
                        </div>
                        
                        <router-view />
                        
                        <chat-detail v-if="showGroupPrivate"></chat-detail>

                    </div>
                </div>
            </div>
        </div>

        <div class="download_onApps">
            <a href=""><img src="/img/bg4.png" alt=""></a>
        </div>
    </div>
</template>

<script>
import UserInfo from './../components/UserInfo'
import CreateRoom from './../components/CreateRoom'
import AddMember from './../components/AddMember'
import ForwardMessage from './../components/ForwardMessage'
import ListRooms from './../components/ListRooms'
import ChatDetail from './../components/ChatDetail'

export default {
    components: {
        UserInfo,
        CreateRoom,
        AddMember,
        ForwardMessage,
        ListRooms,
        ChatDetail
    },
    computed: {
        showGroupPrivate() {
            return this.$store.state.showGroupPrivate
        }
    },
}
</script>