<template>
	<div class="login">
        <div class="container ctn_v2">
            <div class="row flex_row">
                <div class="col-md-6 clear_ mobile_none">
                    <div class="login_left">
                        <img src="/img/bg_for.png" style="width: 100%;" alt="">
                        <div class="content_login_left">
                            <div class="title_login">
                                <h1>Quên mật khẩu ?</h1>
                                <p>Đừng lo! Chỉ vài bước nữa là bạn có thể đăng nhập trở lại cùng Divi Pay</p>
                            </div>
                            <div class="links_">
                                <ul>
                                    <li><a href="" title="Mạng Xã Hội"><img src="/img/w1.png" alt=""></a></li>
                                    <li><a href="" title="Thương Mại Điện Tử"><img src="/img/c1.png" alt=""></a></li>
                                    <li><a href="" title="Ví Điện Tử"><img src="/img/v1.png" alt=""></a></li>
                                    <li><a href="" title="Các Doanh Nghiệp"><img src="/img/d1.png" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 clear_">
                    <div class="login_right forgot_right">

                        <p class="title_regis tt_forgot">Lấy lại mật khẩu mới<span>Bạn vui lòng điền tài khoản hoặc số điện thoại vào khung bên dưới.</span></p>

                        <form action="" class="login_form forgot_form">
                            <div class="user_">
                                <label for="" style="margin-left: 15px;">Tài khoản:</label><br>
                                <input type="text" placeholder="Email hoặc số điện thoại...">
                            </div>

                            <a href="otp_codes.html" class="btn_login btn_forgot">tiếp tục</a>
                            <router-link :to="{name: 'Login'}" class="back">Trở về <span>Đăng nhập</span></router-link>
                        </form>

                       
                    </div>
                </div>
            </div>

            <div class="footer_login">
                <ul>
                    <li><a href="">Chính sách & điều khoản</a></li>
                    <li><a href="">Câu hỏi thường gặp</a></li>
                    <li><a href="" class="none_">Trợ giúp</a></li>
                </ul>
                <p class="copyright_"> <i>©</i> Copyright by <span>Divi Pay 2019</span></p>
                <p><span class="fa fa-dot-circle-o"></span> Designed by <strong>DSCo., Ltd/</strong><a target="_blank" href="http://ds.net.vn/home">ds.net.vn</a></p>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		data() {
			return {
				
			}
		}
	}
</script>