<!-- eslint-disable -->
<template>
    <div class="body_login">
        <div class="login">
            <div class="container ctn_v2">
                <div class="row flex_row">
                    <div class="col-md-6 clear_ mobile_none">
                        <div class="login_left">
                            <img src="/img/bg_login.png" style="width: 100%;" alt="">
                            <div class="content_login_left">
                                <div class="title_login">
                                    <h1>Divi Pay<span>chào mừng bạn đến với divi pay</span></h1>
                                    <p>The Biggest International IT Professional Conference</p>
                                </div>
                                <div class="links_">
                                    <ul>
                                        <li><a href="" title="Mạng Xã Hội"><img src="/img/w1.png" alt=""></a></li>
                                        <li><a href="" title="Thương Mại Điện Tử"><img src="/img/c1.png" alt=""></a></li>
                                        <li><a href="" title="Ví Điện Tử"><img src="/img/v1.png" alt=""></a></li>
                                        <li><a href="" title="Các Doanh Nghiệp"><img src="/img/d1.png" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 clear_">
                        <div class="login_right">
                            <div class="avt_login">
                                <a href=""><img src="/img/avt_ihr.jpeg" alt=""></a>
                                <p>Đăng nhập</p>
                            </div>

                            <form class="login_form" v-on:submit.prevent="submitForm">
                                <div class="user_">
                                    <label for="">
                                        <span class="fa fa-lock"></span>Tài khoản:
                                    </label>
                                    <br>
                                    <input type="text" placeholder="Email hoặc số điện thoại..." v-model.trim="username" required="">
                                </div>

                                <div class="password_">
                                    <label for="">
                                        <span class="fa fa-key"></span>Mật khẩu:
                                    </label>
                                    <br>
                                    <input type="password" placeholder="Nhập mật khẩu của bạn..." v-model.trim="password" required="">
                                </div>

                                <div class="remember_login">
                                    <label class="check_1Login">
                                        <input type="checkbox" >
                                        Ghi nhớ đăng nhập
                                        <span class="check_st"></span>
                                    </label>
                                    <router-link :to="{name: 'ForgotPassword'}">Quên mật khẩu?</router-link>
                                </div>

                                <button type="submit" class="btn_login">đăng nhập</button>
                            </form>

                            <div class="end_login">
                                <h4>Hoặc</h4>
                                <p><router-link :to="{name: 'Register'}">Đăng ký</router-link> ngay! Nếu chưa có tài khoản?</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="footer_login">
                    <ul>
                        <li><a href="">Chính sách & điều khoản</a></li>
                        <li><a href="">Câu hỏi thường gặp</a></li>
                        <li><a href="" class="none_">Trợ giúp</a></li>
                    </ul>
                    <p class="copyright_"> <i>©</i> Copyright by <span>Divi Pay 2019</span></p>
                    <p><span class="fa fa-dot-circle-o"></span> Designed by <strong>DSCo., Ltd/</strong><a target="_blank" href="http://ds.net.vn/home">ds.net.vn</a></p>
                </div>
            </div>
        </div>
    </div>
</template>

<!-- eslint-disable -->
<script>
    import Vue from 'vue'
    export default {
        data() {
            return {
                username : '',
                password: '',
            }
        },
        methods: {
            submitForm() {
                var username = this.username.trim()
                var password = this.password.trim()

                if(username != '' && password != '') {

                    this.$api.post('user/login', {
                        username: username,
                        password: password
                    }).then(res => {
                        console.log(res)
                        if(res.data.error != 0) {
                            this.notify('error', res.data.message)
                        } else {

                            localStorage.setItem("_isMe", JSON.stringify(res.data.info));
                            this.notify('success', res.data.message)

                            window.location.assign('/')
                        }
                    }).catch(e => {
                        this.notify('error', e)
                    })

                } else {
                    this.notify('error', 'Email & mật khẩu bắt buộc nhập')
                }
            }
        },
        // mounted() {
        //     // Get profile user
        //     this.$api.get('user/profile', {

        //     }).then(res => {
        //         if(res.data.error != 0) {
        //             //this.notify('error', res.data.message)
        //         } else {
        //             window.location.assign('/')
        //         }

        //     }).catch(e => {
        //         this.notify('error', e)
        //     })
        // },
    }
</script>
