<!-- eslint-disable -->
<template>
	<div class="login register">
        <div class="container ctn_v2">
            <div class="row flex_row">
                <div class="col-md-6 clear_ mobile_none">
                    <div class="login_left register_letf">
                        <img class="bg_img" src="/img/bg_res.png" style="width: 100%;" alt="">
                        <div class="content_login_left">
                            <div class="title_login">
                                <h1>Chào bạn! Đăng ký ngay</h1>
                                <p>Chỉ vài bước nữa là có thể trải nghiệm cùng Divi Pay</p>
                            </div>
                            <div class="links_">
                                <ul>
                                    <li><a href="" title="Mạng Xã Hội"><img src="/img/w1.png" alt=""></a></li>
                                    <li><a href="" title="Thương Mại Điện Tử"><img src="/img/c1.png" alt=""></a></li>
                                    <li><a href="" title="Ví Điện Tử"><img src="/img/v1.png" alt=""></a></li>
                                    <li><a href="" title="Các Doanh Nghiệp"><img src="/img/d1.png" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 clear_">
                    <div class="login_right register_right">
                        <p class="title_regis">Tạo tài khoản mới <span>Nhanh chóng và dễ dàng</span></p>
                        <form v-on:submit.prevent="submitForm" class="login_form resgis_form">
                            <div class="user_ left_">
                                <label for="">Email hoặc số điện thoại * : </label><br>
                                <input type="text" placeholder="Email hoặc số điện thoại" v-model.trim="username" required="">
                            </div>
                            <div class="user_ left_">
                                <label for="">Mật khẩu * : </label><br>
                                <input type="password" placeholder="Mật khẩu" v-model.trim="password" required="">
                            </div>
                            <div class="password_ left_">
                                <label for="">Nhập lại mật khẩu * : </label><br>
                                <input type="password" placeholder="Nhập lại mật khẩu" v-model.trim="repassword" required="">
                            </div>
                            <div class="password_ left_">
                                <label for="">Năm sinh * : </label><br>
                                <date-picker v-model="birthday" valueType="format" placeholder="Năm sinh"></date-picker>
                            </div>
                            <div class="date_of_birth">
                                <label for="">Giới tính * : </label><br>
                                <select required="" class="day" v-model="sex">
                                	<option value="true">Nam</option>
                                	<option value="false">Nữ</option>
                                </select>
                            </div>
                            
                            <div class="texts">
                                <p>Bằng cách nhấp vào
                                	<span>Đăng ký</span>,bạn đồng ý với 
                                	<span>Điều khoản</span>, 
                                	<span>Chính sách</span> bảo mật của chúng tôi.
                                </p>
                            </div>
                            <div class="btn_res">
                                <button type="submit" class="btn_login btn_regis">đăng ký</button>
                                <router-link :to="{name: 'ForgotPassword'}">Quên mật khẩu?</router-link>
                            </div>
                        </form>
                        <div class="end_login">
                            <h4>Hoặc</h4>
                            <p><router-link :to="{name: 'Login'}">Đăng nhập</router-link> ngay! Nếu đã có tài khoản?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_login">
                <ul>
                    <li><a href="">Chính sách & điều khoản</a></li>
                    <li><a href="">Câu hỏi thường gặp</a></li>
                    <li><a href="" class="none_">Trợ giúp</a></li>
                </ul>
                <p class="copyright_"> <i>©</i> Copyright by <span>Divi Pay 2019</span></p>
                <p><span class="fa fa-dot-circle-o"></span> Designed by <strong>DSCo., Ltd/</strong><a target="_blank" href="http://ds.net.vn/home">ds.net.vn</a></p>
            </div>
        </div>
    </div>
</template>

<!-- eslint-disable -->
<script>
	import DatePicker from 'vue2-datepicker';
 	import 'vue2-datepicker/index.css';
	export default {
		components: { DatePicker },
		data() {
			return {
				username: null,
				password : null,
				repassword : null,
				birthday : null,
				sex: null
			}
		},
		computed: {
			range_year() {
				return this._.range(2020, 1920);
			}
		},
		methods: {
			submitForm() {
                let username   = this.username
                let password   = this.password
                let repassword = this.repassword
                let birthday   = this.birthday
                let sex        = Boolean(this.sex)

				if(password != repassword) {
                    this.notify('error', 'Mật khẩu không khớp nhau')
                    return
				}

                if(username == null || password == null || repassword == null || birthday == null || sex == null) {
                    this.notify('error', 'Các trường * bắt buộc nhập')
                    return
				}

				this.$api.post('user/register', {
                        username: username,
                        password: password,
                        repassword: repassword,
                        birthday: birthday,
                        sex: sex
                    }).then(res => {
                        if(res.data.error != 0) {
                            this.notify('error', res.data.message)
                        } else {
                            this.notify('success', res.data.message)

                            this.$router.push({name: 'Login'})
                        }
                    }).catch(e => {
                        this.notify('error', e)
                    })
            }
		}
	}
</script>

<style>
	.mx-icon-calendar {
		top: 30%;
	}

	.mx-datepicker, .date_of_birth select {
		width: 100% !important;
	}
</style>