<template>
	<div class="overlay_3" style="display: none;">
		<div class="addMembers">
			<h2 class="t2">Thêm thành viên mới</h2>
			<div class="fwCt">

				<input type="text" placeholder="Tìm kiếm..." v-model.trim="searchMember">

				<div class="listMembers">

					<div class="fw__1" v-for="(item, index) in filteredList" :title="item._id">
						<a href="">
							<img :src="item.avatar ? item.avatar : '/img/avt_ihr.jpeg' " :alt="item.name" :title="item.name">
							<span>{{ item.name ? item.name : '' }}</span>
						</a>
						<button class="sends invite">Mời</button>
					</div>

				</div>
			</div>
			<button class="btn_close_amb"><span class="lnr lnr-cross"></span></button>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				listUser : [],
				searchMember: ''
			}
		},
		mounted() {
			this.$api.get('users', {

			}).then(res => {
				this.listUser = res.data.list
			}).catch(e => {
				console.log(e)
				this.notify('error', e)
			})
		},
		computed: {
			filteredList: {
	            get() {
                    if(this.listUser) {
                        return this.listUser.filter(member => {
                            return member.name.toLowerCase().includes(this.searchMember.toLowerCase())
                        })
                    }
	            },
	            set() {
                    
	            }
	        }
		},
	}
</script>