<template>
	<div class="myMess" v-if="item.attacks && item.attacks.length > 0">
	
		<div class="img_Ct v2">

			<div class="wrapper v2">

				<div v-if="item.attacks[0].type == 'AUDIO'">
					<audio controls>
						<source :src="item.attacks[0].content.url" type="audio/mpeg">
						Your browser does not support the audio element.
					</audio>
				</div>
				
				<div v-else>
					<!-- 1_IMG -->
					<div class="imageSet v2 row" v-if="item.attacks.length == 1" v-for="(v, k) in item.attacks" :key="k">
						<div class="img_ one_IMG col-md-12">
							<a :href="v.content.url" class="showImg" v-if="v.type === 'IMAGE'">
								<img :src="v.content.url" :alt="v.content.url">
							</a>
							<video controls="" width="100%" height="100%" v-if="v.type === 'VIDEO' ">
	                        	<source :src="v.content.url" type="video/mp4">
	                        </video>
						</div>
					</div>

					<!-- 2_IMG -->
					<div class="imageSet v2 row" v-if="item.attacks.length == 2">
						<div class="img_  col-md-6" v-for="(v, k) in item.attacks" :key="k">
							<a :href="v.content.url" class="showImg" v-if="v.type === 'IMAGE'">
								<img :src="v.content.url" :alt="v.type" :title="v.type">
							</a>
							<video controls="" width="100%" height="100%" v-if="v.type === 'VIDEO' ">
	                        	<source :src="v.content.url" type="video/mp4">
	                        </video>
						</div>

					</div>


					<!-- 3_IMG -->
					<div class="imageSet v2 row" v-if="item.attacks.length >= 3">
						<div class="img_ col-md-4" v-for="(v, k) in item.attacks" :key="k">
							<a :href="v.content.url" class="showImg" v-if="v.type === 'IMAGE'">
								<img :src="v.content.url" :alt="v.type" :title="v.type">
							</a>
							<video controls="" width="100%" height="100%" v-if="v.type === 'VIDEO' ">
	                        	<source :src="v.content.url" type="video/mp4">
	                        </video>
						</div>
					</div>
				</div>
				
				<reacted v-if="item.reacted && item.reacted.length > 0" :reacted="item.reacted"></reacted>
			</div>

			<div class="img_ct_v2">
				<div class="q3">
					<div class="react_to_messButton">
						<ul class="lv1">
							<li>
								<a href="#" title="Xóa"><span style="color: #999;" class="fa fa-trash-o"></span></a>
							</li>

							<li>
								<a href="#" title="Chuyển tiếp" class="forward" v-on:click="forward(item)">
									<span style="color: #999;" class="fa fa-share-square-o"></span>
								</a>
							</li>

							<li>
								<a href="#" title="Phản hồi" class="btn_feedback" v-on:click="reply(item)">
									<span style="color: #999;font-size: 15px;" class="fa fa-undo"></span>
								</a>
							</li>

							<reaction :groupID="item.group_id" :messageID="item._id"></reaction>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</template>

<script>
	import Reaction from './Reaction'
	import Reacted from './Reacted'

	export default {
		components: {
			Reacted,
	        Reaction
	    },
		props: ['item'],
		methods: {
			reply(msg) {
	            this.$store.commit('reply', msg)
	        },
	        forward(msg) {
	            this.$store.commit('forward', msg)
	        },
		},
	}
</script>