<template>
	<div class="col-md-9 col-sm-9">
		<div class="row">
			<div class="col-md-8 col-sm-8 fixcol">
		        <div class="messContentRight">
		            <div class="flexs_elmItems">
		                <div class="topRight_mess">
		                    <div class="messCtUser">
		                        <a href=""><img src="/img/1.png" alt=""></a>
		                    </div>
		                    <div class="nameCtUser">
		                        <h4><a href="">{{ groupDetail.name }}</a></h4>
		                        <span>Hoạt động {{ $moment(groupDetail.created_at).format("HH:mm - DD/MM/YYYY") }}</span>
		                    </div>
		                </div>

		                <div class="element_items">
		                    <div class="call">
		                        <button><span class="lnr lnr-phone-handset"></span></button>
		                    </div>
		                    <div class="video_call">
		                        <button><span class="lnr lnr-camera-video"></span></button>
		                    </div>
		                    <div class="more">
                                <button class="btn_showMore"><span class="fa fa-ellipsis-h"></span></button>
                                <ul class="more_box">
                                    <li>
                                    	<a href="#">
                                    		<span class="fa fa-bell-slash-o"></span>Tắt thông báo
                                    	</a>
                                    </li>
                                    <li>
                                    	<a href="#">
                                    		<span class="fa fa-eye-slash"></span>Ẩn cuộc trò chuyện
                                    	</a>
                                    </li>

                                    <li v-if="checkUserAdmin" v-on:click="deleteGroup">
                                    	<a href="#">
                                    		<span class="fa fa-ban"></span>Xóa nhóm
                                    	</a>
                                    </li>
                                    <li>
                                    	<a href="#" v-on:click="leaveGroup">
                                    		<span class="fa fa-sign-out"></span>Rời khỏi nhóm
                                    	</a>
                                    </li>

                                </ul>
                            </div>
		                </div>
		            </div>

		            <message></message>

		            <div class="chatTextsBox">
		                
		                <reply-message></reply-message>

		                <div class="imgs_upload">
		                    <div class="img_Up" v-for="(image, key) in preview">
		                        <img src="" alt="" v-bind:ref="'image' +parseInt( key )">
		                        <button type="button" class="removeIMG" v-on:click="delPreview(key)"><span class="lnr lnr-cross"></span></button>
		                    </div>

		                </div>

		                <form id="message_form" v-on:submit.prevent="sendMessage">
		                    <div class="elm_itemsTextsBox">

		                        <button type="button" onclick="document.getElementById('file_media').click()">
		                            <input type="file" name="file_media" class="form-control hidden" id="file_media" multiple="" accept="image/*, video/*" ref="file_media" v-on:change="handleFileUpload">
		                            <span class="icon_images"></span>
		                        </button>

		                        <textarea placeholder="Nhập tin nhắn..." v-model.trim="content_msg" ></textarea>

		                        <button type="button" style="position: relative;" v-click-outside="hide" v-on:click="toggleShowEmoji">
		                            <span class="lnr lnr-smile"></span>

		                            <VEmojiPicker v-show="showEmoji" labelSearch="Search" @select="onSelectEmoji" />
		                        </button>
								
		                        <!-- <button type="button">
		                            <span class="fa fa-file-image-o"></span>
		                        </button> -->

		                        <!-- <button type="button">
		                            <span class="icon_mic_alt"></span>
		                        </button> -->

		                        <button type="button" onclick="document.getElementById('file_app').click()">
		                        	<input type="file" name="file_app" class="form-control hidden" id="file_app" multiple="" ref="file_app" accept=".xlsx,.xls,.doc, .docx,.ppt,.pptx,.txt,.pdf,.zip,.rar,audio/mp3,audio/*;capture=microphone">
		                            <span class="icon_link_alt"></span>
		                        </button>

		                        <button type="button" v-on:click="sendMessage">
		                            <span class="lnr lnr-arrow-right"></span>
		                        </button>
		                    </div>
		                </form>

		            </div>
		        </div>
		    </div>

		    <sidebar :groupDetail="groupDetail" :allMedia="allMedia"></sidebar>

		</div>
	</div>
	
		
</template>

<script>
	import Message from './Message'
	import Sidebar from './Sidebar'
	import ReplyMessage from './ReplyMessage'
	import VEmojiPicker from 'v-emoji-picker';
	import ScrollSearch from './ScrollSearch'

	export default {
		components: {
			Message,
	        Sidebar,
	        ReplyMessage,
	        VEmojiPicker
		},
		data() {
			return {
				preview: [],
				content_msg: '',
				searchMemberGroup : '',
				groupDetail : '',
				allMedia : [],
				checkUserAdmin : false,
				file_media: '',
				file_app : '',
				showEmoji: false,
			}
		},
		watch: {
		    '$route.params.id': function (id) {
		    	this.selectGroup(id)
		    }
		},
		created() {
			this.selectGroup(this.$route.params.id)
		},
		methods: {
		    onSelectEmoji(emoji) {
				this.content_msg += emoji.data;
		    },
		    toggleShowEmoji() {
		    	this.showEmoji = !this.showEmoji
		    },
			deleteGroup() {
				this.$api.delete('group-chats/'+ this.$store.state.roomCurrent, {

				}).then(res => {

					if(res.data.error != 0) {
						this.notify('error', res.data.message)
					} else {
						window.location.assign('/')
					}

				}).catch(e => {
					console.log(e)
					this.notify('error', e)
				})
			},
			leaveGroup() {
				this.$api.delete('group-chats/'+ this.$store.state.roomCurrent +'/leave', {

				}).then(res => {

					if(res.data.error != 0) {
						this.notify('error', res.data.message)
					} else {
						window.location.assign('/')
					}

				}).catch(e => {
					console.log(e)
					this.notify('error', e)
				})
			},
			sendMessage() {

	            if (this.content_msg.trim() != '') { // Có nội dung tin nhắn
	                this.$api.post('group-chats/' + this.$store.state.roomCurrent + '/messages', {
	                    message: this.content_msg,
	                    reply_id : this.$store.state.reply != null ? this.$store.state.reply._id : null,
	                    reply_quote: this.$store.state.reply != null ? this.$store.state.reply : null
	                }).then(res => {
	                    this.content_msg = null
	                    this.$store.state.reply = null
	                }).catch(e => {
	                    console.log(e)
	                    this.notify('error', e)
	                })
	            }

	            const file_media = this.$refs.file_media.files
	            const file_app = this.$refs.file_app.files

	            if ((typeof file_media != "undefined" && file_media.length > 0) || (typeof file_app != 'undefined' && file_app.length > 0)) {
	                let formData = new FormData();

	                if(typeof file_media != "undefined" && file_media.length > 0) { // Nếu có media
	                	for (let i = 0; i < file_media.length; i++) {
		                    let file = file_media[i];
		                    formData.append('file', file);
		                }
	                }

	                if(typeof file_app != 'undefined' && file_app.length > 0) { // Nếu có file
	                	for (let i = 0; i < file_app.length; i++) {
		                    let file = file_app[i];
		                    formData.append('file', file);
		                }
	                }

	                this.$api.post('http://apichat.licham.vn/upload', formData, {
	                    headers: {
	                        'Content-Type': 'multipart/form-data'
	                    }
	                }).then(res => {
	                    this.preview = []
	                    this.$refs.file_media.value = this.$refs.file_app.value = ''

	                    let list_file = res.data.file

	                    const attacks = list_file.map(element => {
	                        let a = {
	                        	'thumbail' : '',
	                        	'content': {
	                        		'url' : this.$_baseMedia + element.path,
	                        		'horizontal' : true
	                        	}
	                        };

	                        if (element.mimetype.includes('image')) {
	                            a.type = 'IMAGE'
	                        } else if(element.mimetype.includes('video')) {
	                        	a.type = 'VIDEO'
	                        } else if(element.mimetype.includes('audio')){
	                        	a.type = 'AUDIO'
	                        } else {
	                        	a.type = 'FILE'
	                        }

	                        return a;
	                    })

	                    this.$api.post('group-chats/' + this.$store.state.roomCurrent + '/messages', {
	                        attacks : attacks
	                    }).then(response => {

	                        if(response.data.error != 0) {
			                    this.notify('error', response.data.message)
	                        }
	                        
	                    }).catch(err => {
	                        console.log(err)
	                        this.notify('error', err)
	                    })

	                }).catch(e => {
	                    console.log(e)
	                    this.notify('error', e)

	                })
	            }
	        },
			selectGroup(_id) {

                if(this.$store.state.roomCurrent != _id) {
                    // Lấy thông tin của nhóm
                    this.$api.get('group-chats/'+ _id, {

                    }).then(res => {

                        if(res.data.error != 0) {
                        	
                        	this.notify('error', res.data.message)
                        	window.location.assign('/')
                            
                        } else {

                            this.roomCurrent = _id
                            this.groupDetail = res.data.info
  
                            const checkUserAdmin = this.groupDetail.members.filter(e => { // Check xem user có phải admin ko
			            		return e._id == this.$store.state.userData._id && e.role == "ADMIN"
			            	})

			            	if(checkUserAdmin.length > 0) {
			            		this.checkUserAdmin = true
			            	}

                            this.$api.get('group-chats/'+_id+'/messages', {
                                params: {
                                    page: this.$store.state.page
                                }
                            }).then(response => {
                                if(response.data.error != 0) {
                                    this.notify('error', res.data.message)
                                } else {

                                	const listMessage = response.data.list
                                	const listMembers = this.groupDetail.members

                                	localStorage.setItem('listMembers', JSON.stringify(listMembers))

                                	for(let i = 0; i < listMessage.length; i++) {
                                		for(let j = 0; j < listMembers.length; j++) {
                                			if(listMessage[i].user_id == listMembers[j]._id) { // Nếu cùng user_id thì gán name, avatar
                                				listMessage[i].name = listMembers[j].name;
                                				listMessage[i].avatar = listMembers[j].avatar;
                                			}
                                		}
                                	}

                                    this.$store.commit('listMessage', listMessage)
                                    this.$store.commit('roomCurrent', _id)

                                }

                            }).catch(e => {
                            	console.log(e)
                                this.notify('error', e)
                            })
                        }

                    }).catch(e => {
                        this.notify('error', e)
                    })

                    // Lấy ảnh media của nhóm
                    this.$api.get('group-chats/'+ _id +'/media', {

                    }).then(res => {
                        this.allMedia = res.data.list
                    }).catch(e => {
                        this.notify('error', e)
                    })
                }
            },
            createRoom(userID) {
            	this.$api.get('users/' + userID + '/get-group-chat-private', {

                }).then(res => {

                    const list = res.data.list
                    if(list != null && list.length > 0) {
                        this.selectGroup(list[0]._id)
                    } else {
                        this.$store.commit('infoAddRoomPrivate', {name: email != '' ? email : mobile, user_id: userID})
                    }
                }).catch(e => {
                    console.log(e)
                    this.notify('error', e)
                })
            },
			handleFileUpload(e) {
		        var selectedFiles = e.target.files;
		        for (let i = 0; i < selectedFiles.length; i++) {
		            this.preview.push(selectedFiles[i]);
		        }

		        for (let i = 0; i < this.preview.length; i++) {
		            let reader = new FileReader();
		            reader.addEventListener('load', function() {
		                this.$refs['image' + parseInt(i)][0].src = reader.result;
		            }.bind(this), false);

		            reader.readAsDataURL(this.preview[i]);
		        }
		    },
            delPreview(key) {
	            this.preview.splice(key, 1)
	        },
	        hide() {
                this.showEmoji = false
            }
		},
	}
</script>