<template>
	<div class="overlay" style="display: none;">
		<div class="create_GrChats">
			<form v-on:submit.prevent="createRoom">
				<h1>Tạo nhóm Chat</h1>
				<button class="closed" type="button"><span class="lnr lnr-cross"></span></button>
				<div class="top_grChat">
					<div class="grChatAvt" onclick="document.getElementById('avatar_group').click()">
						<input accept=".png, .jpg, .jpeg" type="file" name="file_app" style="display: none" id="avatar_group" ref="avatar_group" @change="onFileChange($event)">
						<img :src="previewImg" alt="avatar">
						<button type="button"><span class="icon_plus"></span></button>
					</div>
					<div class="grChatName">
						<input type="text" placeholder="Đặt tên nhóm..." v-model.trim="roomName" required="required">
					</div>
				</div>

				<div class="gridSearch">
					<input class="search_box" type="text" placeholder="Tìm kiếm bạn..." v-model.trim="searchMember">
					<p>Đã chọn: <span>{{ userSelected.length }}</span></p>
				</div>

				<div class="grid_addFrs">
					<div class="gridListFr">

						<div class="addFr_checkbox" v-for="(item, index) in filteredList" :title="item._id">
							<input type="checkbox" :id="'fr_'+index" :value="item" v-model="userSelected">
							<label :for="'fr_'+index">
								<img :src="item.avatar != '' && typeof item.avatar != 'undefined' ? item.avatar : '/img/avt_ihr.jpeg'" :alt="item.name" :title="item.name">{{ item.name ? item.name : '' }}
							</label>
						</div>

					</div>

					<div class="fr_selected">
						<div class="fr1_" v-for="(item, index) in userSelected">
							<div class="avtFr1_">
								<img :src="item.avatar != '' && typeof item.avatar != 'undefined' ? item.avatar : '/img/avt_ihr.jpeg'" :alt="item.name" :title="item.name">
							</div>
							<div class="nameFr1_">
								<h4>{{ item.name }}</h4>
							</div>
						</div>
					</div>
				</div>

				<div class="btns_addFrs">
					<button class="cancel" type="button">Hủy</button>
					<button class="confirm" type="submit">Xác nhận</button>
				</div>
			</form>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				roomName : '',
				previewImg: '/img/img_pl.png',
				userSelected : [],
				listUser : [],
				searchMember: ''
			}
		},
		mounted() {
			this.$api.get('users', {

			}).then(res => {
				this.listUser = res.data.list
			}).catch(e => {
				this.notify('error', e)
			})
		},
		computed: {
			filteredList: {
	            get() {
                    if(this.listUser) {
                        return this.listUser.filter(member => {
                            return member.name.toLowerCase().includes(this.searchMember.toLowerCase())
                        })
                    }
	            },
	            set() {
                    
	            }
	        }
		},
		methods: {
			onFileChange(event) {
				var input = event.target;
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					reader.onload = (e) => {
						this.previewImg = e.target.result;
					}
					reader.readAsDataURL(input.files[0]);
				}
			},
			createRoom() {
				if(this.roomName != '' && this.userSelected.length > 0) {
					this.$api.post('group-chats', {
						name : this.roomName,
						members: this.userSelected.map(e => e._id)
					}).then(res => {
						if(res.data.error != 0) {
							this.notify('error', res.data.message)
						} else {
							window.location.assign('/' + res.data.info._id)
						}
					}).catch(e => {
						this.notify('error', e)
					})
				}
			}
		},

	}
</script>