<template>
	<div class="overlay_2" style="display: none;">
		<div class="forward_list">
			<h2 class="t2">Chuyển tiếp tin nhắn tới</h2>
			<div class="fwCt">
				<p>
					<i class="fa fa-quote-left"></i> {{ forwardMessage }}
				</p>
				<input type="text" placeholder="Tìm kiếm...">

				<div class="listFW">

					<div class="fw__1" v-for="(item, index) in listRooms" :key="index">
						<a href="">
							<img src="/img/1.png" alt=""><span>{{ item.name }}</span>
						</a>
						<button class="sends" type="button" v-on:click="sendForward(item._id)">Gửi</button>
					</div>

				</div>
			</div>
			<button class="btn_close_fw"><span class="lnr lnr-cross"></span></button>
		</div>
	</div>
</template>

<script>
	export default {
		computed: {
			forwardMessage() {
				return this.$store.state.forward_msg
			},
			listRooms() {
                return this.$store.state.listRooms
            }
		},
		methods: {
			sendForward(group_id) {
				if (this.forwardMessage.trim() != '') {
	                this.$api.post('group-chats/' + group_id + '/messages', {
	                    message: this.forwardMessage.trim()
	                }).then(res => {
						if(res.data.error != 0) {
							this.notify('error', res.data.error)
						} else {
							this.notify('success', 'Chuyển tiếp thành công')
						}
	                }).catch(e => {
	                    console.log(e)
	                    this.notify('error', e)
	                })
	            }
			}
		}
	}
</script>