<template>
    <div>
        <div class="mess_search" v-on:click="focusSearch" v-click-outside="hide">
            <input type="text" placeholder="Tìm kiếm tin nhắn, nhóm..." required="" value="" v-model.trim="keywordSearch">
            <button type="submit"><span class="lnr lnr-magnifier"></span></button>
        </div>

        <div class="scrollBar" v-if="!searchResult">

            <div v-for="(item, index) in listRooms" :key="index">

                <router-link :to="{name : 'ChatDetail', params: { id: item._id }}">

                    <div class="mess_userList"  >
                        <div class="user_1Avt">
                            <img src="/img/1.png" alt="">
                        </div>
                        <div class="user_1Name" :title="item._id">
                            <h4>{{ item.name }}
                                <time>
                                    {{ item.last_message != null ? $moment(item.last_message.updated_at).format("HH:mm - DD/MM/YYYY") : '' }}
                                </time>
                            </h4>
                            <p>
                                {{ item.last_message != null ? item.last_message.message : '' }}
                            </p>
                        </div>

                        <!-- <ul class="nav">
                            <li class="button-dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle"></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><span class="fa fa-bell-slash-o"></span>Tắt thông báo</a> </li>
                                    <li><a href="#"><span class="fa fa-eye-slash"></span>Ẩn cuộc trò chuyện</a></li>
                                    <li><a href="#"><span class="fa fa-ban"></span>Xóa cuộc trò chuyện</a></li>
                                </ul>
                            </li>
                        </ul> -->
                    </div>

                </router-link>
                
            </div>

        </div>

        <scroll-search v-show="searchResult" :filterRoom="filterRoom" :filterUser="filterUser"></scroll-search>

    </div>
    
</template>

<script>
    import clickOutside from './../directives/clickOutSide';
    import ScrollSearch from './ScrollSearch'
	export default {
        components: {
            ScrollSearch
        },
		data() {
			return {
                roomCurrent : '',
                allMedia: [],
                allUser: [],
                searchResult: false,
                keywordSearch: ''
			}
		},
        computed: {
            listRooms() {
                return this.$store.state.listRooms
            },
            filterRoom: {
                get() {
                    if(this.listRooms.length > 0) {
                        return this.listRooms.filter(room => {
                            return room.name.toLowerCase().includes(this.keywordSearch.toLowerCase())
                        })
                    }
                },
                set() {
                    
                }
            },
            filterUser: {
                get() {
                    if(this.allUser.length > 0) {
                        return this.allUser.filter(user => {
                            if(user.name && user.name.trim() != '') {
                                return user.name.toLowerCase().includes(this.keywordSearch.toLowerCase())
                            }
                        })
                    }
                },
                set() {
                    
                }
            }
        },
		mounted() {
			// Get room by user
            this.$api.get('group-chats', {

            }).then(res => {

                if(res.data.error != 0) {

                    this.notify('error', 'Danh sách nhóm bị lỗi')

                } else {

                    this.$store.commit('listRooms', res.data.list)
                }

            }).catch(e => {
                this.notify('error', e)
            })
		},
		methods: {
            focusSearch() {
                // Get all user
                this.$api.get('users', {

                }).then(res => {

                    if(res.data.error != 0) {
                        this.notify('error', res.data.message)
                    } else {
                        this.allUser = res.data.list
                        this.searchResult = true
                    }

                }).catch(e => {
                    this.notify('error', e)
                })
            },
            hide() {
                this.searchResult = false
            }
		},
	}
</script>