<template>
	<div class="col-md-6 col-sm-6 fixcol">
		<div class="messContentRight">
			<div class="flexs_elmItems">
				<div class="topRight_mess">
					<div class="messCtUser">
						<a href=""><img src="/img/1.png" alt=""></a>
					</div>
					<div class="nameCtUser">
						<h4><a href="">{{ groupDetail.name }}</a></h4>
						<span>Hoạt động {{ $moment(groupDetail.created_at).format("HH:mm - DD/MM/YYYY") }}</span>
					</div>
				</div>

				<div class="element_items">
					<div class="call">
						<button><span class="lnr lnr-phone-handset"></span></button>
					</div>
					<div class="video_call">
						<button><span class="lnr lnr-camera-video"></span></button>
					</div>
				</div>
			</div>

			<div class="messContent_user1">
			    
			</div>

			<div class="chatTextsBox">
				
				<div class="imgs_upload">
					<div class="img_Up" v-for="(image, key) in preview">
						<img src="" alt="" v-bind:ref="'image' +parseInt( key )">
						<button type="button" class="removeIMG" v-on:click="delPreview(key)"><span class="lnr lnr-cross"></span></button>
					</div>

				</div>

				<form id="message_form" v-on:submit.prevent="sendMessage">
					<div class="elm_itemsTextsBox">
						<button type="button" onclick="document.getElementById('file_media').click()">
							<input type="file" name="file_media" class="form-control hidden" id="file_media" multiple="" accept="image/*, video/*" ref="file_media" v-on:change="handleFileUpload">
							<span class="icon_images"></span>
						</button>
						<textarea placeholder="Nhập tin nhắn..." v-model.trim="content_msg" ></textarea>
						<button type="button">
							<span class="lnr lnr-smile"></span>
						</button>
						<button type="button">
							<span class="fa fa-file-image-o"></span>
						</button>
						<button type="button">
							<span class=" icon_mic_alt"></span>
						</button>
						<button type="button">
							<span class=" icon_link_alt"></span>
						</button>
						<button type="button" v-on:click="sendMessage">
							<span class="lnr lnr-arrow-right"></span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</template>

<script>
	export default {
		data() {
			return {
				preview: [],
				content_msg: '',
			}
		},
		computed: {
	        roomCurrent() {
	            return this.$store.state.roomCurrent
	        },
	        groupDetail() {
				return this.$store.state.groupDetail
			},
	    },
	    methods: {
			handleFileUpload(e) {
		        var selectedFiles = e.target.files;
		        for (let i = 0; i < selectedFiles.length; i++) {
		            this.preview.push(selectedFiles[i]);
		        }

		        for (let i = 0; i < this.preview.length; i++) {
		            let reader = new FileReader();
		            reader.addEventListener('load', function() {
		                this.$refs['image' + parseInt(i)][0].src = reader.result;
		            }.bind(this), false);

		            reader.readAsDataURL(this.preview[i]);
		        }
		    },
		    sendMessage() {
	            if (this.content_msg.trim() != '') {

	            	if(this.$store.state.infoAddRoomPrivate != '') { // Nếu có info tạo room Private thì tạo room trước

	            		this.$api.post('group-chats', {
							name : this.$store.state.infoAddRoomPrivate.name,
							type : 'PRIVATE',
							members: [this.$store.state.infoAddRoomPrivate.user_id]
						}).then(res => {
							if(res.data.error != 0) {
								this.notify('error', res.data.message)
							} else {
								
								this.$api.post('group-chats/' + res.data.info._id + '/messages', {
				                    message: this.content_msg
				                }).then(res => {
				                    this.content_msg = ''
				                }).catch(e => {
				                    console.log(e)
				                    this.notify('error', e)
				                })

							}
						}).catch(e => {
							this.notify('error', e)
						})

	            	} else { // Nếu không thì chat luôn

	            		this.$api.post('group-chats/' + this.roomCurrent + '/messages', {
		                    message: this.content_msg
		                }).then(res => {
		                    // this.listMessage.unshift(res.data.info)
		                    this.content_msg = ''
		                }).catch(e => {
		                    console.log(e)
		                    this.notify('error', e)
		                })
	            	}
	            		                
	            }

	            const file_media = this.$refs.file_media.files
	            if (typeof file_media !== "undefined" && file_media.length > 0) {
	                let formData = new FormData();

	                for (let i = 0; i < file_media.length; i++) {
	                    let file = file_media[i];
	                    formData.append('file', file);
	                }

	                this.$api.post('http://apichat.licham.vn/upload', formData, {
	                    headers: {
	                        'Content-Type': 'multipart/form-data'
	                    }
	                }).then(res => {
	                    this.preview = []
	                    
	                    let list_file = res.data.file

	                    const attacks = list_file.map(element => {
	                        let a = {};
	                        a.content = this.$_baseMedia + element.path;
	                        if (element.mimetype.includes('image')) {
	                            a.type = 'IMAGE'
	                        } else if(element.mimetype.includes('video')) {
	                        	a.type = 'VIDEO'
	                        }
	                        return a;
	                    })

	                    this.$api.post('group-chats/' + this.roomCurrent + '/messages', {
	                        attacks : attacks
	                    }).then(response => {

	                        if(response.data.error != 0) {
			                    this.notify('error', response.data.message)
	                        }
	                        
	                    }).catch(err => {
	                        console.log(err)
	                        this.notify('error', err)
	                    })

	                }).catch(e => {
	                    console.log(e)
	                    this.notify('error', e)

	                })
	            }
	        },
		}
	}
</script>