<template>
	<div class="messContent_user1" v-chat-scroll v-if="listMessage && listMessage.length > 0">
		<div class="loading" style="display: none;">
            <span class="fa fa-spinner fa-spin"></span>
        </div>
		<!-- <div infinite-wrapper>
			<infinite-loading direction="top" @infinite="infiniteHandler" force-use-infinite-wrapper="true"></infinite-loading>
		</div> -->
        <div v-for="(item, index) in listMessage.slice().reverse()" :key="index" >
            
            <message-other :item="item" v-if="item.user_id != $store.state.userData._id"></message-other>

            <message-user :item="item" v-else></message-user>

        </div>

    </div>
</template>

<script>
	import MessageOther from './../components/MessageOther'
	import MessageUser from './../components/MessageUser'
	import InfiniteLoading from 'vue-infinite-loading'
	
	import { mapActions } from 'vuex'

	export default {
		components: {
	        MessageOther,
	        MessageUser,
	        InfiniteLoading
	    },
	    computed: {
			listMessage() {
				return this.$store.state.listMessage
			}
		},
		methods: {
			// infiniteHandler($state) {
	  //           this.$api.get('group-chats/' + this.$store.state.roomCurrent + '/messages', {
	  //               params: {
	  //                   page: this.$store.state.page
	  //               },
	  //           }).then(res  => {
			//         if (res.data.error != 0) {

			// 			$state.complete();

			//         } else {

			// 			this.$store.commit('incrementPage', 1)

			// 			let status = 1
			// 			let data = res.data.list

			// 			this.$store.dispatch('listMessage', {data, status})
			// 			$state.loaded();

			//         }
	                
	  //           }).catch(e => {
	  //               console.log(e)
   //                  this.notify('error', e)
	  //           })
	  //       },
		},
		
	}
</script>