<template>
	<!-- OTHER -->
	<div class="other_">
		<div class="topRight_mess">
			<div class="messCtUser">
				<img :src="item.avatar != '' ? item.avatar : '/img/avt_ihr.jpeg'" :alt="item.name" :title="item.name">
			</div>
			<div class="nameCtUser mess__ct">

				<!-- Nếu tin nhắn là text -->
				<div class="react_to_messButton" v-if="item.message != ''">
					
					<div class="express_emotions" :title="$moment(item.created_at).format('HH:mm - DD/MM/YYYY')">
						
						<span v-if="item.reply_id">
							<p class="messTo">
							    <i class="fa fa-quote-left"></i> {{ typeof item.reply_quote == 'object' ? item.reply_quote.message : '' }}
							</p>
							<p class="fbMess">{{ item.message }}</p>
						</span>

						<p v-else>{{ item.message }}</p>

						<reacted v-if="item.reacted && item.reacted.length > 0" :reacted="item.reacted"></reacted>
					</div>

					<ul class="lv1">
						<reaction :groupID="item.group_id" :messageID="item._id"></reaction>

						<li>
							<a href="#" title="Phản hồi" class="btn_feedback" v-on:click="reply(item, item._id)"><span class="fa fa-undo" style="font-size: 15px;"></span></a>
						</li>

						<li>
							<a href="#" title="Chuyển tiếp" class="forward" v-on:click="forward(item.message)"><span class="fa fa-share-square-o"></span></a>
						</li>

						<li>
							<a href="#" title="Xóa"><span class="fa fa-trash-o"></span></a>
						</li>
					</ul>
				</div>

				<attack-other :item="item"></attack-other>
				
			</div>
		</div>

	</div>
	<!-- OTHER -->
</template>

<script>
	import AttackOther from './AttackOther'
	import Reacted from './Reacted'
	import Reaction from './Reaction'

	export default {
		components: {
	        AttackOther,
	        Reacted,
	        Reaction
	    },
		props: ['item'],
		data() {
			return {
				reply_id: '',
				reply_quote: ''
			}
		},
		methods: {
			reply(item, _id) {
				this.reply_id = _id
	            this.$store.commit('reply', item)
	        },
	        forward(msg) {
	            this.$store.commit('forward', msg)
	        }
		},
	}
</script>