<template>
	<!-- IS ME -->
	<div>
		<div class="myMess" v-if="item.message != ''">
			<div class="feeling_stick">
				<ul class="lv1">

					<li>
						<a href="#" title="Xóa"><span class="fa fa-trash-o"></span></a>
					</li>

					<li>
						<a href="#" title="Chuyển tiếp" class="forward" v-on:click="forward(item.message)"><span class="fa fa-share-square-o"></span></a>
					</li>

					<li>
						<a href="#" title="Phản hồi" class="btn_feedback" v-on:click="reply(item, item._id)"><span class="fa fa-undo" style="font-size: 15px;"></span></a>
					</li>

					<reaction :groupID="item.group_id" :messageID="item._id"></reaction>

				</ul>
			</div>

			<div class="mContent_" :title="$moment(item.created_at).format('HH:mm - DD/MM/YYYY')" v-if="item.message != '' ">
				<span v-if="item.reply_id">
					<p class="messTo">
	                    <i class="fa fa-quote-left"></i>
	                    {{ typeof item.reply_quote == 'object' ? item.reply_quote.message : '' }}
	                </p>
	                <p class="fbMess">{{ item.message }}</p>  
				</span>
				
				<p v-else>{{ item.message }}</p>

				<reacted v-if="item.reacted && item.reacted.length > 0" :reacted="item.reacted"></reacted>
			</div>
		</div>

		<attack-user :item="item"></attack-user>
		
	</div>
	<!-- END IS ME -->
</template>

<script>
	import AttackUser from './AttackUser'
	import Reacted from './Reacted'
	import Reaction from './Reaction'

	export default {
		components: {
	        AttackUser,
	        Reacted,
	        Reaction
	    },
		props: ['item'],
		data() {
			return {
				reply_id: '',
				reply_quote: ''
			}
		},
		methods: {
			reply(item, _id) {
				this.reply_id = _id
	            this.$store.commit('reply', item)
	        },
	        forward(msg) {
	            this.$store.commit('forward', msg)
	        }
		}
	}
</script>