<template>
	<li class="a">
        <a href="#" title="Cảm Xúc" class="btn_exemo" v-on:click="openReact = true"><span class="fa fa-smile-o"></span></a>
        <div class="stickers" v-if="openReact">
            <ul class="lv2">

                <li v-for="i in 6">
                    <a href="#">
                        <img :src="i | reacted" alt="" v-on:click="selectReaction(i)">
                    </a>
                </li>
                
            </ul>
        </div>
    </li>
</template>

<script>
    import Reaction from './Reaction'
	export default {
        props: ['groupID', 'messageID'],
        data() {
            return {
                openReact: false
            }
        },
        methods: {
            selectReaction(icon) {
                this.$api.put('group-chats/'+ this.groupID +'/messages/'+ this.messageID +'/reaction', {
                    content: icon
                }).then(res => {
                    if(res.data.error != 0) {
                        this.notify('error', res.data.message)
                    }
                }).catch(e => {
                    console.log(e)
                    this.notify('error', e)
                })
            }
        }
	}
</script>