<template>
	<div class="img_exet" v-if="reacted && reacted.length > 0">
        <img :src="i.content | reacted" :alt="i.content" v-for="(i,v) in reacted" :key="v">
        <span>{{ reacted.length }}</span>
    </div>
</template>

<script>
	export default {
		props: ['reacted']
	}
</script>