<template>
	<div class="feedback" v-if="typeof reply != 'undefined'">
		<p class="fbtt">Phản hồi tin nhắn của <span>{{ typeof reply != 'undefined' ? reply.name : '' }}</span></p>
		<p class="fbCtn">
			<i class="fa fa-quote-left"></i> {{ typeof reply != 'undefined' ? reply.message : '' }}
		</p>
		<button class="closed_fb" v-on:click="closeReply"><span class="lnr lnr-cross"></span></button>
	</div>
</template>

<script>
	export default {
		computed: {
			reply() {
				if(this.$store.state.reply != null) return this.$store.state.reply
			}
		},
		methods: {
			closeReply() {
				this.$store.dispatch('reply', {status : 'close-reply'})
			}
		}
	}
</script>