<template>
	<div class="scrollBar scrollBar_v2">

		<div class="messOld">
			Thêm liên hệ
		</div>

		<div class="mess_userList" v-for="(item, index) in filterUser" :key="index" v-on:click="selectUserPrivate(item)">
			<div class="user_1Avt">
				<img src="/img/1.png" alt="">
			</div>
			<div class="user_1Name">
				<h4>{{ item.name ? item.name : '' }} <time style="color: #28a745;">Đang Online</time></h4>
			</div>
		</div>

		<div class="messOld">
			Tin nhắn
		</div>
			
		<div v-for="(item, index) in filterRoom">

			<router-link :to="{name : 'ChatDetail', params: { id: item._id }}">
				<div class="mess_userList">
					<div class="user_1Avt">
						<img src="/img/2.png" alt="">
					</div>
					<div class="user_1Name">
						<h4>{{ item.name }} 
							<time>
		                        {{ item.last_message != null ? $moment(item.last_message.updated_at).format("HH:mm - DD/MM/YYYY") : '' }}
		                    </time>
						</h4>
						<p>{{ item.last_message != null ? item.last_message.message : '' }}</p>
					</div>
				</div>
			</router-link>
			
		</div>

	</div>
</template>

<script>
	export default {
		props: ['filterRoom', 'filterUser'],
		methods: {
			selectUserPrivate(user) {
				console.log(user)
				this.$api.get('users/'+ user._id +'/get-group-chat-private', {

				}).then(res => {
					if(res.data.error === 404) {

						if (this.$route.path !== '/') this.$router.push({name : 'Chat'})
						
						this.$store.commit('showGroupPrivate', true)
					}
				}).catch(e => {
					console.log(e)
					this.notify('error', e)
				})
			}
		}
	}
</script>