<template>
	<div class="col-md-3 col-sm-3 ">
	    <div class="chatBox_right">
	        <div class="profile__">
	            <a href=""><img src="/img/1.png" alt=""></a>
	            <h4><a href="">{{ groupDetail.name }}</a></h4>
	        </div>
	        <div class="view_profile">
	            <ul>
	                <li><a href=""><i class="fa fa-eye" aria-hidden="true"></i>Xem trang cá nhân</a></li>
	                <li>
	                    <button><i class="icon_shield"></i>Block</button>
	                </li>
	                <li>
	                    <button><i class="fa fa-trash-o" aria-hidden="true"></i>Xóa trò chuyện</button>
	                </li>
	            </ul>
	        </div>
	        
	    </div>
	</div>
</template>

<script>
	export default {
		computed: {
			groupDetail() {
				return this.$store.state.groupDetail
			}
		},
	}
</script>