<template>
	<div class="col-md-4 col-sm-4">
        <div class="chatBox_right">
            <div class="profile__">
                <a href="#"><img src="/img/1.png" alt=""></a>
                <h4><a href="">{{ groupDetail.name }}</a></h4>
                <div class="members">
                    <ul>
                        <li v-for="(item, index) in groupDetail.members" :key="index" v-if="index <= 5" class="btn_viewMember">
                            <a href="#" :data-tooltip-text="index == 5 ? 'Tất cả thành viên' : item.user_id">
                                <img :src="item.avatar != '' ? item.avatar : '/img/avt_ihr.jpeg'" :alt="item.name" :title="item.name">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="allMembers" style="display: none;">
                    <div class="members__">
                        <h2 class="t2">Tất cả thành viên <span style="color: #555;font-size: 14px;">( {{ groupDetail.members ? groupDetail.members.length : '' }} )</span></h2>
                        <div class="memberBox_">
                            <input type="text" placeholder="Tìm kiếm..." v-model.trim="searchMemberGroup">

                            <a href="#" class="btnAddMembers"><span class="icon_plus"></span>Thêm thành viên</a>

                            <div class="scroll_memberList">
                                <div class="member_1" v-for="(item, index) in filteredList" :key="index">
                                    <a href="#" :title="item._id">
                                        <img :src="item.avatar != '' ? item.avatar : '/img/avt_ihr.jpeg'" :alt="item.name" :title="item.name">{{ item.name }}
                                    </a>
                                    <div class="dropdown_btnMember">
                                        <a href="#" class="btn_showDRDMB"><span class="lnr lnr-chevron-down"></span></a>
                                        <ul class="dropdown_mb">
                                            <li><a href="">Nhắn tin</a></li>
                                            <li><a href="">Xem trang cá nhân</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="close_mb"><span class="lnr lnr-cross"></span></button>
                    </div>
                </div>
            </div>
            <div class="view_profile">
                <ul>
                    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>Xem trang cá nhân</a></li>
                    <li>
                        <button><i class="icon_shield"></i>Block</button>
                    </li>
                </ul>
            </div>
            <div class="medias">
                <span>Ảnh đã chia sẻ</span>
                <div class="wrapper">
                    <div class="imageSet row">

                        <div class="img_ col-md-6" v-for="(item, index) in allMedia" :key="index">

                            <div v-for="(v, i) in item.attacks" :key="i">

                                <span v-if="v.type == 'IMAGE'">
                                    <a :href="v.content.url" class="showImg">
                                        <img :src="v.content.url" alt="">
                                    </a>
                                </span>
                                
                                <span v-if="v.type == 'VIDEO'">
                                    <video controls width="100%" height="100%" class="btn_video" style="cursor: pointer;">
                                        <source :src="v.content.url" type="video/mp4">
                                    </video>
                                    <div class="video_box" style="display: none;">
                                        <div class="video_show">
                                            <video controls width="100%" height="100%">
                                                <source :src="v.content.url" type="video/mp4">
                                            </video>
                                            <button class="close_video"><span class="lnr lnr-cross"></span></button>
                                        </div>
                                    </div>
                                </span>
                                
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
        name : 'Sidebar',
        props: ['groupDetail', 'allMedia'],
		data() {
			return {
				searchMemberGroup : '',
			}
		},
		computed: {
			filteredList: {
	            get() {
                    if(this.groupDetail.members) {
                        return this.groupDetail.members.filter(member => {
                            return member.name.toLowerCase().includes(this.searchMemberGroup.toLowerCase())
                        })
                    }
	            },
	            set() {
                    
	            }
	        }
		}
	}
</script>