<template>
	<div class="mess_userInfo">
        <div class="user_avt">
            <img :src="typeof userData.avatar != 'undefined' && userData.avatar != '' ? userData.avatar : '/img/avt_ihr.jpeg'" alt="">
        </div>
        <div class="user_name">
            <h4 :title="userData._id">
                {{ userData.name != null ? userData.name : '' }}
                <button type="button" v-on:click="logout">
                    <span class="fa fa-sign-out"></span>Đăng xuất
                </button>
            </h4>
            <a href="#" class="cgChat" title="Tạo nhóm chat">
                <span class="icon_plus"></span>
            </a>
        </div>
    </div>
</template>

<script>
	export default {
		methods: {
			logout() {
                this.$api.get('user/logout', {

                }).then(res => {
                    if(res.data.error != 0) {
                        this.notify('error', res.data.message)
                    } else {

                        localStorage.clear()

                        this.$destroy()

                        this.notify('success', 'Đăng xuất thành công')

                        window.location.assign('/login')
                    }
                }).catch(e => {
                    this.notify('error', e)
                })
            }
        },
        computed: {
            userData() {
                return this.$store.state.userData
            }
        }
    }
</script>