

$bg: #f3f3f3;
$texts: #222;
$items: #ff5050;
$t3:#999;
$bg-t: #eee;

body {
	background: $bg;
	@media(min-width: 1400px){
		.ctn_st {
			max-width: 1500px;
		}
	}
	@media(max-width: 1366px){
		.ctn_st {
			max-width: 100%;
			padding: 0 15px;
		}
	}
}


.chatBox {
	.fixcol {
		padding: 0;
	}
	.chatBoxContent {
		background: #fff;
		padding: 0 15px;
		height: 100vh;
		border-radius: 5px;
		.chatBox_right {
			height: calc(100vh - 1rem);
			overflow-x: hidden;
			&::-webkit-scrollbar {
				width: 5px;
			}
			&::-webkit-scrollbar-thumb {
				background-image: linear-gradient(to bottom, #f508b7 0%, #9102ff 51%, #f508b7 100%);
				visibility: hidden;
				opacity: 0;
			}
			&:hover::-webkit-scrollbar-thumb {
				visibility: visible;
				opacity: 1;
			}
		}
		.profile__ {
			margin: 0 auto;
			text-align: center;
			padding: 15px;
			.members {
				ul {
					display: flex;
					align-items: center;
					justify-content: center;
					[data-tooltip-text]:hover {
						position: relative;
					}
					[data-tooltip-text]:hover:after {
						background-color: rgba(0, 0, 0, 0.8);
						border-radius: 5px 5px 5px 0;
						color: #fff;
						font-size: 12px;
						content: attr(data-tooltip-text);
						bottom:25px;
						left: 0;    
						padding: 7px 12px;
						position: absolute;
						width: auto;
						min-width: 120px;
						z-index: 1;
					}
					img {
						width: 30px;
						height: 30px;
						object-fit: cover;
						border-radius: 50%;
						margin-bottom: 0;
					}
					.btn_viewMember {
						position: relative;
						&:after {
							position: absolute;
							content: '5+';
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							display: flex;
							align-items: center;
							justify-content: center;
							color: #fff;
							cursor: pointer;
							font-size: 15px;
						}
						&:hover:after{
							animation: fadeInDown .4s;
						}
						img {
							opacity: .6;
						}
					}
				}
			}
			.allMembers {
				position: fixed;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				background: rgba(0,0,0,.5);
				left: 0;
				top: 0;
				.members__ {
					width: 450px;
					background: #fff;
					border-radius: 5px;
					position: relative;
					animation: zoomIn .3s;
					.close_mb {
						position: absolute;
						top: 0;
						right: 0;
						width: 40px;
						height: 40px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 18px;
					}
					.t2 {
						background: #eee;
						border-radius: 5px 5px 0 0 ;
						padding: 10px 15px;
						font-size: 16px;
						text-align: left;
					}
					input {
						border: 1px solid #eee;
						height: 35px;
						width: 100%;
						margin-bottom: 15px;
					}
					.memberBox_ {
						padding: 15px;
						.btnAddMembers {
							&:hover {
								color: #dc3545;
							}
						}
						.member_1 {
							display: flex;
							align-items: center;
							justify-content: space-between;
							margin-bottom: 15px;
							a {
								font-weight: bold;
								&:hover {
									color: #dc3545;
								}
								img {
									width: 40px;
									height: 40px;
									object-fit: cover;
									border-radius: 50%;
									margin-right: 5px;
									margin-bottom: 0;
								}
							}
							.dropdown_mb {
								text-align: left;
								a {
									font-weight: 100;
								}
							}
							span {
								font-size: 10px;
								font-weight: bold;
								cursor: pointer;
								width: 40px;
								height: 40px;
								display: flex;
								align-items: center;
								justify-content: center;
							}
							.dropdown_btnMember {
								position: relative;

								.dropdown_mb {
									position: absolute;
									top: 30px;
									right: 0;
									width: 150px;
									background: #fff;
									border-radius: 5px;
									boxborder:1px solid #eee;
									display: none;
									z-index: 1;

									a {
										padding: 8px 10px;
										display: flex;
										&:hover {
											background: #eee;
										}
									}
								}
								.btn_showDRDMB:focus + .dropdown_mb {
									display: block;
								}
							}
						}
						.scroll_memberList {
							height: 300px;
							overflow-x: hidden;
							&::-webkit-scrollbar {
								width: 5px;
							}
							&::-webkit-scrollbar-thumb {
								background-image: linear-gradient(to bottom, #f508b7 0%, #9102ff 51%, #f508b7 100%);
								visibility: hidden;
								opacity: 0;
							}
							&:hover::-webkit-scrollbar-thumb {
								visibility: visible;
								opacity: 1;
							}
						}
					}
				}
			}
			img {
				width: 100%;
				border-radius:50%;
				margin-bottom: 15px;
				width: 150px;
				height: 150px;
				object-fit: cover;
				@media(max-width: 767px){
					height: 80px;
					width: 80px;
				}
			}
			h4 {
				font-size: 20px;
				font-weight: bold;
				margin-bottom: 15px;
			}
		}
		.users_messageLeft {
			border-right: 1px solid #eee;
			height: 100vh;
			.overlay,
			.overlay_2,
			.overlay_3 {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,.5);
				display: flex;
				align-items: center;
				justify-content: center;
				z-index: 1;
				&.overlay_3 {
					background: rgba(0,0,0,0);
				}
			}
			.overlay_2,
			.overlay_3 {
				.fwCt {
					padding: 15px;
					p {
						padding: 4px 15px;
						border: 1px dashed #999;
						font-style: italic;
						border-radius: 5px;
						margin-bottom: 15px;
						color: #999;
						font-style: italic;
						background: #fff;
						overflow: hidden;
						-o-text-overflow: ellipsis;
						text-overflow: ellipsis;
						-webkit-line-clamp: 2;
						display: -webkit-box;
						-webkit-box-orient: vertical;
					}
					input {
						border: 1px solid #eee;
						height: 35px;
						width: 100%;
						&::placeholder {
							font-size: 13px;
						}
					}
					.listFW,
					.listMembers {
						overflow-x: hidden;
						height: 320px;
						padding: 15px 10px;
						&::-webkit-scrollbar {
							width: 5px;
						}
						&::-webkit-scrollbar-thumb {
							background-image: linear-gradient(to bottom, #f508b7 0%, #9102ff 51%, #f508b7 100%);
							visibility: hidden;
							opacity: 0;
						}
						&:hover::-webkit-scrollbar-thumb {
							visibility: visible;
							opacity: 1;
						}
						&.listMembers {
							height: 395px;
						}
						.fw__1 {
							margin-bottom: 15px;
							display: flex;
							align-items: center;
							justify-content: space-between;
							a {
								font-weight: bold;
							}
							button {
								background-image: linear-gradient(to right, #f508b7 0%, #9102ff 51%, #f508b7 100%);
								background-size: 200% auto;
								color: #fff;
								transition: all 1.5s;
								margin-left: 15px;
								padding: 5px 15px;
								border-radius: 5px;
								&:hover {
									background-position: right center;
									transition: all 1.5s;
								}
							}
						}
						img {
							width: 40px;
							height: 40px;
							object-fit: cover;
							border-radius: 50%;
							margin-right: 10px;
						}
					}
				}
			}
			.mess_userInfo {
				display: flex;
				align-items: center;
				border-bottom: 1px solid #eee;
				padding: 15px;
				margin-bottom: 15px;
				@media(max-width: 767px){
					flex-direction: column;
				}
				.user_avt {
					flex: 0 0 40px;
					margin-right: 15px;
					img {
						width: 100%;
						height: 40px;
						object-fit: cover;
						border-radius: 50%;
						@media(max-width: 767px){
							height: 80px;
							width: 80px;
						}
					}
				}
				.user_name {
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					h4 {
						font-weight: bold;
						color:$texts;
						display: flex;
						flex-direction: column;
						font-size: 14px;
						button {
							text-align: left;
							font-size: 13px;
							color: $t3;
							span {
								margin-right: 3px;
							}
						}
					}
					.cgChat {
						span {
							font-size: 20px;
							width: 30px;
							height: 30px;
							display: flex;
							align-items: center;
							justify-content: center;
							background-image: linear-gradient(to right, #f508b7 0%, #9102ff 51%, #f508b7 100%);
							background-size: 200% auto;
							color: #fff;
							border-radius: 50%;
							transition: all 1.5s;
							&:hover {
								transition: all 1.5s;
								background-position: right center;
							}
						}
					}
				}
			}
			.scrollBar {
				overflow-x: hidden;
				overflow-y: scroll;
				height: calc(100vh - 10rem);
				&::-webkit-scrollbar {
					width: 5px;
				}
				&::-webkit-scrollbar-thumb {
					background-image: linear-gradient(to bottom, #f508b7 0%, #9102ff 51%, #f508b7 100%);
					visibility: hidden;
					opacity: 0;
				}
				&:hover::-webkit-scrollbar-thumb {
					visibility: visible;
					opacity: 1;
				}
			}
			.mess_search {
				background: $bg;
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-radius: 5px;
				margin: 15px;
				input {
					padding-left: 15px;
					border:none;
					background:transparent;
					height: 40px;
					width: 100%;
					&::placeholder {
						font-size: 13px;
					}
				}
				button {
					height: 40px;
					width: 60px;
					font-weight: bold;
					font-size: 18px;
				}
			}
			.create_GrChats,
			.forward_list,
			.addMembers {
				width: 600px;
				height: 500px;
				background: #fff;
				position: relative;
				animation: zoomIn .3s;
				border-radius: 5px;
				&.forward_list,&.addMembers {
					width: 450px;
				}

				h1,.t2 {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 10px;
					background: #eee;
					font-weight:bold;
					margin-bottom: 15px;
					border-radius: 5px 5px 0 0;
					&.t2 {
						margin-bottom: 0;
					}
				}
				.closed,
				.btn_close_fw,
				.btn_close_amb {
					position: absolute;
					top: 0;
					right: 0;
					span {
						font-size: 16px;
						width: 40px;
						height: 40px;
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
				.cgChat {
					display: flex;
					align-items: center;
					span {
						font-size: 16px;
					}
				}
				.top_grChat {
					display: flex;
					align-items: center;
					padding: 0 15px;
					border-bottom: 1px solid #eee;
					padding-bottom: 15px;
					.grChatAvt {
						display: flex;
						flex-direction: column;
						align-items: center;
						position: relative;
						
						.icon_plus {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							display: flex;
							align-items: center;
							justify-content: center;
							visibility: hidden;
							opacity: 0;
							font-size: 20px;
							color: $t3;
						}
						&:hover .icon_plus {
							visibility: visible;
							opacity: 1;
							animation: fadeInDown .3s;
						}
						img {
							width: 40px;
							height: 40px;
							object-fit: cover;
							border-radius: 50%;
							cursor: pointer;
						}
						&:hover img {
							opacity: .5;
							border:1px dashed #999;
						}
					}
					.grChatName {
						margin-left: 10px;
						width: 85%;
						input {
							border:none;
							width: 100%;
							&::placeholder {
								font-size: 14px;
							}
						}
					}
				}
				.grid_addFrs,
				.gridSearch {
					display: grid;
					grid-template-columns: 50% 50%;
					grid-column-gap:10px; 
					grid-row-gap:10px;
					padding: 15px; 
					&.gridSearch {
						padding-bottom:0;
						input {
							border:1px solid #eee;
							height: 35px;
							&::placeholder {
								font-size: 13px;
							}
						}
						p {
							display: flex;
							align-items: center;
							justify-content: space-between;
							padding-right: 15px;
							color: $t3;
						}
					}
					.gridListFr,
					.fr_selected {
						width: 100%;
						height: 245px;
						overflow-x: hidden;
						border-right: 1px solid #eee;
						&::-webkit-scrollbar {
							width: 5px;
						}
						&::-webkit-scrollbar-thumb {
							background-image: linear-gradient(to bottom, #f508b7 0%, #9102ff 51%, #f508b7 100%);
							visibility: hidden;
							opacity: 0;
						}
						&:hover::-webkit-scrollbar-thumb {
							visibility: visible;
							opacity: 1;
						}
						.search_box {
							width: 100%;
							height: 30px;
							margin-bottom: 15px;
							&::placeholder {
								font-size: 13px;
							}
						}
						.addFr_checkbox {
							margin-bottom: 15px;
							input[type=checkbox] + label {
								display: inline-flex;
								align-items: center;
								cursor: pointer;
								margin-bottom: 5px;
							}
							input[type=checkbox] {
								display: none;
							}
							input[type=checkbox] + label:before {
								content: "\f00c";
								border: 0.1em solid #999;
								border-radius: 3px;
								display: inline-block;
								width: 15px;
								height: 15px;
								display: flex;
								align-items: center;
								justify-content: center;
								color: transparent;
								transition: .3s;
								margin-right: 5px;
								font-size: 10px;
								font-family: 'FontAweSome';
								font-weight: 100;
							}

							input[type=checkbox] + label:active:before {
								transform: scale(0);
							}
							input[type=checkbox]:checked + label:before {
								background-color:#9102ff;
								border-color: #9102ff;
								color: #fff;
							}
							label {
								font-weight: bold;
								cursor: pointer;
								img {
									width: 30px;
									height: 30px;
									border-radius: 50%;
									margin: 0 5px;
								}
							}
						}
					}
					.fr_selected {
						border:none;
						p {
							display: flex;
							justify-content: space-between;
							align-items: center;
						}
						.fr1_ {
							display: flex;
							align-items: baseline;
							.avtFr1_ {
								flex: 0 0 30px;
								margin-right: 10px;
								margin-bottom: 15px;
								img {
									width: 100%;
									height: 30px;
									border-radius: 50%;
								}
							}
							.nameFr1_ {
								h4 {
									font-weight: bold;
								}
							}
						}
					}
				}
				.btns_addFrs {
					padding: 15px;
					border-top: 1px solid #eee;
					text-align: right;
					button {
						padding: 5px 15px;
						border-radius: 5px;
					}
					.confirm {
						background-image: linear-gradient(to right, #f508b7 0%, #9102ff 51%, #f508b7 100%);
						background-size: 200% auto;
						color: #fff;
						transition: all 1.5s;
						margin-left: 15px;
						&:hover {
							background-position: right center;
							transition: all 1.5s;
						}
					}
					.cancel {
						background: #eee;
						color: #555;
					}
				}
			}
			.mess_userList {
				display: flex;
				align-items: center;
				border-top: 1px solid #eee;
				padding: 15px;
				cursor: pointer;
				border-left: 2px solid transparent;
				@media(max-width: 991px) and (min-width: 768px){
					padding: 5px;
				}
				&.active {
					
					.user_1Name {
						p {
							color: $t3;
						}
						span {
							display: none;
						}
					}
				}
				.user_1Avt {
					flex: 0 0 40px;
					margin-right: 15px;
					img {
						width: 100%;
						height: 40px;
						object-fit: cover;
						border-radius: 50%;
					}
				}
				.user_1Name {
					position: relative;
					width: 100%;
					h4 {
						font-weight: bold;
						color:$texts;
						display: flex;
						align-items: center;
						justify-content: space-between;
						@media(max-width: 991px) and (min-width: 768px){
							flex-direction: column;
							align-items: baseline;
							font-size: 12px;
						}
						time {
							color:  $t3;
							font-weight: 100;
							font-size: 12px;
						}
					}
					p {
						overflow: hidden;
						-o-text-overflow: ellipsis;
						text-overflow: ellipsis;
						-webkit-line-clamp: 1;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						margin-right: 16px;
						color:#000;
						@media(max-width: 991px) and (min-width: 768px){
							font-size: 12px;
						}
					}
					span {
						position: absolute;
						bottom: 0;
						right: 0;
						width: 18px;
						height: 18px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 50%;
						color: #fff;
						background: $items;
						font-size: 12px;
					}
				}
			}
		}
		.messContentRight {
			position: relative;
			height: 100vh;
			border-right: 1px solid #eee;
			.chatTextsBox {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding: 12.5px;
				border-top: 1px solid #eee;
				background: #fff;
				.elm_itemsTextsBox {
					display: flex;
					align-items: center;
					justify-content: space-between;
					textarea {
						resize: none;
						border: none;
						height: 37px;
						width: 100%;
						&::placeholder {
							color: $t3;
						}
					}
					button {
						span {
							color: $t3;
							font-size: 20px;
							width: 40px;
							height: 40px;
							display: flex;
							align-items: center;
							justify-content: center;
							&.lnr-arrow-right {
								background-image: linear-gradient(to right, #f508b7 0%, #9102ff 51%, #f508b7 100%);
								background-size: 200% auto;
								border-radius: 50%;
								color: #fff;
								margin-left: 5px;
								transition: all 1.5s;
								&:hover {
									background-position: right center;
									transition: all 1.5s;
								}
							}
						}
					}
				}
			}
			.time_ {
				margin: 15px 0;
				text-align: center;
				time {
					font-size: 13px;
					color: $t3;
				}
			}
			.flexs_elmItems {
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid #eee;
				padding: 0 15px;
				padding-bottom: 5px;
			}
			.messContent_user1 {
				padding: 15px;
				position: relative;
				height: calc(100vh - 8rem);
				overflow-x: hidden;
				padding-top: 30px;
				&::-webkit-scrollbar {
					width: 5px;
				}
				&::-webkit-scrollbar-thumb {
					background-image: linear-gradient(to bottom, #f508b7 0%, #9102ff 51%, #f508b7 100%);
					visibility: hidden;
					opacity: 0;
				}
				
				&:hover::-webkit-scrollbar-thumb {
					visibility: visible;
					opacity: 1;
				}
				.mess__ct {
					.express_emotions{
						padding: 15px;
						background:$bg-t;
						border-radius: 10px 10px 10px 0;
						margin-bottom: 20px;
						display: flex;
						flex-direction: column;
						margin-right: 10px;
						position: relative;
						time {
							margin-top: 5px;
							font-size: 12px;
							color: $t3;
							text-transform: uppercase;
							span {
								font-size: 10px;
							}
						}
						.img_exet {
							position: absolute;
							bottom: -15px;
							right: 0;
							background: #fff;
							padding: 2px 5px;
							border-radius: 20px;
							border:1px solid #eee;
							img {
								width: 25px;
								height: 25px;
							}
							span {
								color: #ff5050;
								font-size: 13px;
							}
						}
					}
					.img_Ct {
						position: relative;
						display: flex;
						img {
							width: 100%;
							height: 100%;
							// object-fit: cover;
							border-radius: 5px;
						}
						.img_ {
							width: 100%;
							height: 140px;
							@media(max-width: 1199px){
								height: 100px;
							}
							@media(max-width: 1024px){
								height: 80px;
							}
						}
						.imageSet {
							justify-content: flex-end;
							margin: 0;
							time {
								padding-left: 5px;
								font-size: 12px;
								color: $t3;
								text-transform: uppercase;
								span {
									font-size: 10px;
								}
							}
						}
						&:hover .lv1 {
							visibility: visible;
							opacity: 1;
							transition: all .3s;
						}
					}
					.npdImg {
						padding: 0 5px;
					}
				}
				.messCtUser {
					flex: 0 0 40px !important;
					img {
						height: 40px !important;
					}
				}
			}
			.topRight_mess {
				display: flex;
				margin-top: 15px;
				// height: 100%;
				.messCtUser {
					flex: 0 0 50px;
					margin-right: 15px;
					img {
						width: 100%;
						height: 50px;
						border-radius: 50%;
					}
				}
				.react_to_messButton {
					display: flex;
					align-items: end;
					.lv1 {
						display: flex;
						align-items: center;
						visibility: hidden;
						opacity: 0;
						transition: all .3s;
						a {
							margin: 0 5px;
							span {
								font-size: 16px;
							}
						}
						.a {
							.stickers	{
								display: block;
							}
							.lv2 {
								display: flex;
								align-items: center;
								position: absolute;
								width: 260px;
								top: -45px;
								box-shadow: 0 0 10px #eee;
								border-radius: 20px;
								justify-content: center;
								height: 40px;
								right: 0;
								background: #fff;
								animation: fadeInUp .3s;
								img {
									width: 35px;
									margin:0 3px;
									transition: all .3s;
									&:hover {
										width: 45px;
										transition: all .3s;
										margin-top: -15px;
									}
								}
							}
							.btn_exemo:focus + .stickers {
								display: block;
							}
						}
					}
					&:hover .lv1 {
						visibility: visible;
						opacity: 1;
						transition: all .3s;
					}
				}
				.nameCtUser {
					h4 {
						font-weight: bold;
						font-size: 16px;
					}
					span {
						color: $t3;
					}
					&.mess__ct {
						margin-bottom: 15px;
						position: relative;
						time {
							font-size: 12px;
							color: $t3;
							text-transform: uppercase;
							span {
								font-size: 10px;
							}
						}
					}
				}
			}
			.myMess {
				display: flex;
				justify-content: flex-end;
				.feeling_stick {
					position: relative;
				}
				.mContent_ {
					padding: 15px;
					background: #eee;
					border-radius: 10px 10px 0 10px ;
					margin-bottom: 20px;
					margin-left: 15px;
					position: relative;
					p.messTo {
						padding: 4px 15px;
						border: 1px dashed #999;
						font-style: italic;
						border-radius: 5px;
						margin-bottom: 15px;
						color: #999;
						font-style: italic;
						background:#fff;
						overflow: hidden;
						-o-text-overflow: ellipsis;
						text-overflow: ellipsis;
						-webkit-line-clamp: 2;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						i {
							font-style: italic;
						}
					}
					p {
						display: flex;
						flex-direction: column;
						time {
							font-size: 12px;
							margin-top: 5px;
							color: $t3;
							text-transform: uppercase;
							text-align: right;
							span {
								font-size: 10px;
							}
						}
					}
					.img_exet {
						display: flex;
						align-items: center;
						position: absolute;
						bottom: -15px;
						left: 0;
						background: #fff;
						padding: 2px 5px;
						border-radius: 20px;
						border:1px solid #eee;
						img {
							width: 25px;
							height: 25px;
						}
						span {
							color: #ff5050;
							font-size: 13px;
							margin-left: 3px;
						}
					}
				}

				.lv1 {
					display: flex;
					align-items: center;
					visibility: hidden;
					opacity: 0;
					transition: all .3s;
					a {
						margin: 0 5px;
						span {
							font-size: 16px;
							color: $t3;
						}
					}
					.a {
						.lv2 {
							display: flex;
							align-items: center;
							position: absolute;
							width: 230px;
							background: #fff;
							top: -45px;
							box-shadow: 0 0 10px #eee;
							border-radius: 20px;
							justify-content: center;
							height: 40px;
							left: 0;
							background: #fff;
							animation: fadeInUp .3s;
							img {
								width: 35px;
								padding:0 3px;
								transition: all .3s;
								&:hover {
									width: 45px;
									transition: all .3s;
									margin-top: -15px;
								}
							}
						}
						.stickers	{
							display: block;
						}
						.btn_exemo:focus + .stickers {
							display: block;
						}
					}
				}
				&:hover .lv1 {
					visibility: visible;
					opacity: 1;
					transition: all .3s;
				}
			}
			.element_items {
				display: flex;
				align-items: center;
				.call,
				.video_call {
					button {
						span {
							width: 40px;
							height: 40px;
							background-image: linear-gradient(to right,#f508b7 0%, #9102ff 51%, #f508b7 100%);
							background-size: 200% auto;
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 50%;
							font-size: 20px;
							color: #fff;
							margin-left: 15px;
							transition: all 1.5s;
							&:hover {
								background-position: right center;
								transition: all 1.5s;
							}
						}
					}
				}
			}
		}
	}
}


.lightbox {
	position: fixed;
	top: 0;
	left: 0; 
	width: 100%;
	height: 100%;
	background:
	url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiYGBg2AwQYAAAuAC01qHx9QAAAABJRU5ErkJggg==) repeat; 
	display: flex;
	align-items: center;
	justify-content: center;
	.showBox {
		position: relative;
		p {
			position: fixed;
			right: 15px;
			top: 15px;
			z-index: 111;
			color: #fff;
			cursor: pointer;
			font-size: 25px;
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
		}
	}
}


#slideshow {
	z-index: 100;
	width:800px;
	animation: zoomIn .3s;
	ul {
		li {
			position: absolute;
			top:0; 
			left: 0; 
			right: 0;
			bottom: 0; 
			list-style: none; 
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.prev,
	.next {
		position: absolute; 
		top: 50%;
		background: rgba(0, 0, 0, .5);
		width: 35px;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 25px;
		text-decoration: none;
		border-radius:50%;
		color: #fff !important;
		&:hover {
			background-image: linear-gradient(to right,#f508b7 0%, #9102ff 51%, #f508b7 100%);
			background-size: 200% auto;
			background-position: right center;
			transition: all 1.5s;
			color: #fff;
		}
	}
	.next {
		right: 50px;
	}
	.prev {
		left: 50px;
	}
}

.medias {
	.img_ {
		height: 100px;
		padding: 0 2px;
		margin-bottom: 4px;
		@media(max-width: 1024px){
			height: 70px;
		}
		img {
			width: 100%;
			height: 100%;
			border-radius: 5px;
		}
	}
	span {
		margin-bottom: 5px;
		display: flex;
		padding-top: 15px;
	}
}
.view_profile {
	ul {
		padding: 0 15px;
		a,button {
			width: 100%;
			display: flex;
			align-items: center;
			margin-bottom: 5px;
			font-size: 16px;
			&:hover {
				color: #dc3545;
			}
			i {
				margin-right: 10px;
				color: $t3;
				font-size:16px;
			}
			.fa-trash-o {
				font-size: 18px;
			}
		}
	}
}



@media(max-width: 991px){
	.chatBox {
		display: none;
	}
}
.download_onApps{
	text-align: center;
	display: none;
	img {
		width: 100%;
		height: 100vh;
		object-fit: contain;
	}
	@media (max-width: 991px){
		display: block;
		background: #222;
	}
}








.feedback {
	position: relative;
	display: none;
	animation: fadeInUp .3s;
	.fbtt {
		background: #eee;
		display: inline-flex;
		padding: 2px 10px;
		border-radius: 5px 5px 5px 0;
		margin-bottom: 5px;
		span {
			font-weight:bold;
			margin-left: 5px;
		}
	}
	.fbCtn {
		font-style: italic;
		overflow: hidden;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		-webkit-line-clamp: 1;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		color: #999;
		i{
			font-style: inherit;
			margin-right: 5px;
		}
	}
	button {
		position: absolute;
		top: -13px;
		right: -13px;
		font-size: 16px;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}





.img_Ct {
	position: relative;
	display: flex;
	img {
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}
	.img_ {
		width: 100%;
		height: 140px;
		padding: 0 5px;
		margin-bottom: 10px;
		@media(max-width: 1199px){
			height: 100px;
		}
		@media(max-width: 1024px){
			height: 80px;
		}
	}
	.imageSet {
		margin: 0;
		time {
			padding-left: 5px;
			font-size: 12px;
			color: $t3;
			text-transform: uppercase;
			span {
				font-size: 10px;
			}
		}
	}
	&:hover .lv1 {
		visibility: visible;
		opacity: 1;
		transition: all .3s;
	}
	&.v2 {
		flex-direction: row-reverse;
	}
}


.react_to_messButton {
	display: flex;
	align-items: end;
	.lv1 {
		display: flex;
		align-items: center;
		visibility: hidden;
		opacity: 0;
		transition: all .3s;
		a {
			margin: 0 5px;
			span {
				font-size: 16px;
			}
		}
		.a {
			.stickers	{
				display: block;
			}
			.lv2 {
				display: flex;
				align-items: center;
				position: absolute;
				width: 260px;
				top: -45px;
				box-shadow: 0 0 10px #eee;
				border-radius: 20px;
				justify-content: center;
				height: 40px;
				right: 0;
				background: #fff;
				animation: fadeInUp .3s;
				img {
					width: 35px;
					margin:0 3px;
					transition: all .3s;
					&:hover {
						width: 45px;
						transition: all .3s;
						margin-top: -15px;
					}
				}
			}
			.btn_exemo:focus + .stickers {
				display: block;
			}
		}
	}
	&:hover .lv1 {
		visibility: visible;
		opacity: 1;
		transition: all .3s;
	}
}

.time_myMess {
	font-size: 12px;
	color: #999;
	text-transform: uppercase;
	margin-left: 15px;
	display: flex;
	align-items: center;
	// justify-content: flex-end;
	span {
		font-size: 10px;
		margin-left: 5px;
	}
}

.wrapper {
	position: relative;
	margin-right: 15px;
	&.v2 {
		margin-left: 15px;
		margin-right: 0;
	}
	.img_exet {
		position: absolute;
		bottom: -15px;
		right: 0;
		background: #fff;
		padding: 2px 5px;
		border-radius: 20px;
		border:1px solid #eee;
		img {
			width: 25px !important;
			height: 25px !important;
		}
		span {
			color: #ff5050;
			font-size: 13px;
		}
	}

}


.video_box {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background: rgba(0,0,0,.5);
	display: flex;
	align-items: center;
	justify-content: center;
	.video_show {
		width: 600px;
		height: 400px;
		position: relative;
		animation: zoomIn .3s;
		.close_video {
			position: absolute;
			font-size: 18px;
			color: #fff;
			width: 40px;
			height: 40px;

		}
	}
}


.imgs_upload {
	display: flex;
	align-items: center;
	.img_Up {
		position: relative;
		margin-right: 15px;
		img {
			width: 100px;
			height: 100px;
			object-fit: cover;
		}
		button {
			position: absolute;
			top: 0;
			right: 0;
			font-weight:bold;
			visibility: hidden;
			opacity: 0;
			transition: all .3s;
			font-size: 18px;
		}
		&:hover button {
			visibility: visible;
			opacity: 1;
			transition: all .3s;
		}

	}

}



body {
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-thumb {
		background-image: linear-gradient(to bottom, #6fbcfe 0%, #9667e2 51%, #6fbcfe 100%);
	}
}

.body_login {
	background: #eee;
	height: 100vh;
	@media(max-width: 767px){
		height: auto;
		margin: 15px 0;
	}
}
//LOGIN_
.ctn_v2 {
	max-width: 1170px;
	@media(min-width: 1400px){
		max-width: 1400px;
	}
}

.login {
	height: 100%;
	display: flex;
	align-items: center;
	.flex_row {
		background: #fff;
		border-radius: 10px;
		box-shadow: 0 0 15px #999;
		margin-bottom: 15px;
		@media(max-width: 991px){
			margin: 0 ;
			margin-bottom: 15px;
		}
		@media(max-width: 767px){
			display: flex;
			flex-direction: column-reverse;
		}
		.login_left {
			position: relative;
			border-radius: 10px 0 0 10px;
			&:after {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: linear-gradient(to bottom, #f5af19, #f12711);
				opacity: .6;
				border-radius: 10px 0 0 10px;
				@media(max-width: 767px){
					border-radius: 0;
				}
			}
			img {
				border-radius: 10px 0 0 10px;
				@media(max-width: 767px){
					border-radius: 0;
				}
			}
			.content_login_left {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				z-index: 1;
				.links_ {
					ul {
						display: flex;
						align-items: center;
						li {
							border: 2px solid #fff;
							padding: 18px;
							border-radius: 50%;
							margin: 0 10px;
							overflow: hidden;
							// &:hover img {
							// 	animation:flash 1.5s;
							// }
							// &:hover {
							// 	border-style: dotted;
							// }
						}
					}
					img {
						width: 50px;
						height: 50px;
						object-fit: contain;
					}
				}
				.title_login {
					margin-bottom: 15px;
					h1 {
						font-size: 30px;
						font-weight: bold;
						display: flex;
						align-items: center;
						flex-direction: column;
						color: #fff;
						span {
							text-transform: uppercase;
							/* font-weight: 500; */
							font-size: 24px;
						}
					}
					p {
						text-align: center;
						color: #fff;
						font-size: 16px;
					}
				}
			}
		}
		.login_right {
			position: relative;
			height: 100%;
			padding-top: 40px;
			@media(max-width: 1400px){
				padding-top: 30px;
			}
			@media(max-width: 991px) and (min-width: 768px){
				padding-top: 15px;
			}
			@media(max-width: 767px){
				margin-bottom: 20px;
			}
			&:after {
				content: ' ';
				transform: rotate(225deg);
				position: absolute;
				width: 0;
				height: 0;
				left: -25px;
				border: 25px solid;
				top: 45%;
				border-color: #fff #fff transparent transparent ;
				@media(max-width: 767px){
					display: none;
				}
			}
			.avt_login {
				text-align: center;
				margin-bottom: 15px;
				@media(min-width: 1400px){
					margin-bottom: 25px;
				}
				@media(max-width: 991px) and (min-width: 768px){
					margin-bottom: 0;
				}
				img {
					width: 100px;
					height: 100px;
					object-fit: cover;
					border-radius: 50%;
					margin-bottom: 10px;
					@media(max-width: 991px) and (min-width: 768px){
						width: 80px;
						height: 80px;
					}
				}
				p {
					font-size: 24px;
					font-weight: 600;
				}
			}
			.login_form {
				width: 365px;
				display: flex;
				flex-direction: column;
				margin: 0 auto;
				margin-bottom: 25px;
				@media(max-width: 991px){
					margin-bottom: 15px;
				}
				@media(max-width: 414px){
					width: auto;
					margin: 0 15px;
					margin-bottom: 15px;
				}
				.user_ ,
				.password_  {
					.fa-lock {
						font-size: 16px;
						margin-right: 5px;
					}
					.fa-key {
						transform: rotate(135deg);
						font-size: 16px;
						margin-right: 5px;
					}
					label {
						font-size: 16px;
						font-weight:bold;
						margin-bottom: 5px;
					}
					input {
						width: 100%;
						height: 40px;
						border: none;
						box-shadow: 0 0 10px #eee;
						box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
						border-radius: 20px;
						margin-bottom: 25px;
						@media(max-width: 1366px){
							margin-bottom: 20px;
						}
						@media(max-width: 991px) and (min-width: 768px){
							margin-bottom: 10px;
						}
						padding-left: 15px;
						&::placeholder {
							color:#999;
						}
					}
				}
				.remember_login {
					display: flex;
					position: relative;
					margin-bottom: 25px;
					cursor: pointer;
					user-select: none;
					align-items: center;
					justify-content: space-between;
					@media(max-width: 991px) and (min-width: 768px){
						margin-bottom: 15px;
					}
					a {
						color: #999;
					}
					input {
						position: absolute;
						opacity: 0;
						cursor: pointer;
						height: 0;
						width: 0;
					}
					.check_st {
						position: absolute;
						top: 2px;
						left: 0;
						height: 15px;
						width: 15px;
						background-color: #eee;
						border-radius: 3px;
						&:after {
							content: "";
							position: absolute;
							display: none;
						}
					}
					input:checked ~ .check_st {
						background-image: linear-gradient(to bottom, #f5af19, #f12711);
					}
					input:checked ~ .check_st:after {
						display: block;
					}
					.check_st:after {
						left: 5px;
						top: 2px;
						width: 5px;
						height: 10px;
						border: solid white;
						border-width: 0 3px 3px 0;
						transform: rotate(45deg);
					}
					.check_1Login {
						cursor: pointer;
						font-size: 14px;
						color: #999;
						margin-left: 22px;
					}
				}
				.btn_login {
					height: 40px;
					width: 100%;
					border-radius: 20px;
					box-shadow: 0 0 15px 0 #f65619;
					border: solid 2px #ffffff;
					background-image: linear-gradient(to right, #f5af19 0%, #f12711 51%, #f5af19 100%);
					background-size: 200% auto;
					color: #fff;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 16px;
					transition: all 1.5s;
					&:hover {
						background-position: right center;
						transition: all 1.5s;
					}
				}
			}
			.end_login {
				text-align: center;
				h4 {
					font-size: 16px;
					font-weight: bold;
					position: relative;
					width: 365px;
					margin: 0 auto;
					margin-bottom: 15px;
					@media(max-width: 991px){
						margin-bottom: 0;
					}
					@media(max-width: 375px){
						width: auto;
						margin: 0 15px;

					}
					&:after,
					&:before {
						content: '';
						position: absolute;
						width: 140px;
						height: 1px;
						background: #eee;
						top: 12px;
						@media(max-width: 375px){
							width: 110px;
						}
					}
					&:after {
						left: 0;
					}
					&:before {
						right: 0;
					}
				}
				p {
					color: #999;
					a {
						font-size: 16px;
						color: #f26522;
					}
				}
			}
		}
	}
}

.clear_ {
	padding: 0;
}
.footer_login {
	margin-left: -15px;
	&.v2 {
		margin-left: 0;
	}
	@media(max-width: 991px){
		margin-left: 0;
	}
	ul {
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		@media(max-width: 375px){
			flex-direction: column;
			align-items: baseline;
		}
		a {
			font-size:14px;
			font-weight: bold;
			padding-right: 15px;
			margin-right: 15px;
			border-right: 1px solid;
			@media(max-width: 414px){
				font-size: 12px;
				font-weight: bold;
				padding-right: 10px;
				margin-right: 10px;
			}
			@media(max-width: 375px){
				border:none;
			}
		}
		.none_ {
			border:none;
		}
	}
	p {
		font-size: 13px;
		color: #999;
		strong {
			color: #1a28a8;
			font-size: 14px;
		}
		a {
			color: #1a28a8;
			font-size: 14px;
		}
	}
	.copyright_ {
		span {
			color: #F26522;
			font-size: 14px;
			font-weight: bold;
		}
		i {
			font-size: 15px;
			font-style: inherit;
		}
	}
}
@media(max-width: 480px){
	.mobile_none {
		display: none;
	}
}




//Register 

.title_regis {
	font-size: 24px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
	span {
		font-size: 16px;
		font-weight: 100;
		color: #999;
	}
}
.register {
	.register_letf {
		height: 100%;
		.bg_img {
			// margin-top: 2.5rem;
			height: 100%;
			object-fit: cover;
		}
	}
	.register_right {
		padding-bottom: 30px;
		.resgis_form {
			border-top: 1px solid #eee;
			padding-top: 10px;
		}
		.name_ {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@media(max-width: 360px){
				flex-direction: column;
				align-items: baseline;
			}
			.user_name_ {
				@media(max-width: 360px){
					width: 100%;
				}
				label {
					font-size: 16px;
					font-weight:bold;
					margin-bottom: 5px;
					margin-left: 15px;
				}
				input {
					width: 175px;
					height: 40px;
					border: none;
					box-shadow: 0 0 10px #eee;
					box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
					border-radius: 20px;
					margin-bottom: 25px;
					@media(max-width: 1366px){
						margin-bottom: 20px;
					}
					@media(max-width: 991px) and (min-width: 768px){
						margin-bottom: 10px;
					}
					@media(max-width: 414px){
						width: 165px;
					}
					@media(max-width: 375px){
						width: 145px;
					}
					@media(max-width: 360px){
						width: 100%;
					}
					padding-left: 15px;
					&::placeholder {
						color:#999;
					}
				}
			}
		}
		.left_ {
			label {
				margin-left: 15px;
			}
		}
		.date_of_birth {
			margin-bottom: 25px;
			label {
				margin-left: 15px;
				font-weight: bold;
				margin-bottom: 5px;
			}
			select {
				width: 90px;
				height: 30px;
				border-radius: 15px;
				box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
				border:none;
				margin-right: 15px;
				@media(max-width: 375px){
					width: 80px;
					margin-right: 10px;
				}
				@media(max-width: 320px){
					width: 70px;
				}
			}
		}
		.btn_res {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@media(max-width: 320px){
				flex-direction: column;
			}
			.btn_regis {
				width: 200px !important;
				@media(max-width: 375px){
					width: 160px !important;
				}
				@media(max-width: 320px){
					margin-bottom: 15px;
				}
			}
			a {
				color: #999;
			}
		}
		.texts {
			p {
				text-align: center;
				color: #222;
				margin-bottom: 20px;
				span {
					color: #f26522;
					font-size: 15px;
				}
			}
		}
	}
}



//Forgot_password


.forgot_right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	.tt_forgot {
		span {
			margin:10px 0;
			border-bottom: 1px solid #eee;
			padding-bottom: 15px;
			text-align: center;
		}
	}
	.forgot_form {
		input {
			margin-bottom: 25px !important;
		}
		.btn_forgot {
			width: 170px !important;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			margin-bottom: 25px;
		}
		.back {
			font-size: 16px;
			span {
				color: #f26522;
			}
		}
	}
}




// Verification codes

.verification_codes {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	.bg_OTP_codes {
		text-align: center;
		position: relative;
		height: 700px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 15px;
		@media(max-width: 1400px){
			height: 600px;
		}
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0.7;
			background-image: linear-gradient(to bottom, #f5af19, #f12711);
			left: 0;
			top: 0;
			border-radius: 10px;
		}
		.new_password {
			position: absolute;
			z-index: 1;
			background: rgba(255,255,255,.8);
			width: 565px;
			height: 385px;
			border-radius: 10px;
			@media(max-width: 568px){
				width: auto;
			}
			h1 {
				display: flex;
				flex-direction: column;
				align-items: center;
				font-size: 24px;
				font-weight: bold;
				margin-bottom: 15px;
				span {
					font-size: 18px;
					font-weight: 100;
				}
			}
			form {
				width: 365px;
				margin: 0 auto;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				@media(max-width: 568px){
					margin:0 15px;
				}
				@media(max-width:480px){
					width: 310px;
				}
				@media(max-width:375px){
					width: 275px;
				}
				@media(max-width:320px){
					width: 240px;
				}
				.new_pass {
					text-align: left;
					margin-bottom: 25px;
					input {
						width: 100%;
						height: 40px;
						box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
						border-radius: 20px;
						border:none;
						background: #fff;
						padding-left: 15px;
					}
					label {
						margin-left: 15px;
						font-weight: bold;
						margin-bottom: 5px;
					}
				}
				button {
					height: 40px;
					width: 200px;
					border-radius: 20px;
					box-shadow: 0 0 15px 0 #f65619;
					border: solid 2px #fff;
					background-image: linear-gradient(to right, #f5af19 0%, #f12711 51%, #f5af19 100%);
					background-size: 200% auto;
					color: #fff;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 16px;
					transition: all 1.5s;
					&:hover {
						background-position: right center;
						transition: all 1.5s;
					}
				}
			}
		}
	}
}



//opt_codes

.opt_codes {
	.phone_nume {
		text-align: left;
		margin-bottom: 15px;
		span {
			font-weight: bold;
			font-size: 16px;
			@media(max-width: 480px){
				font-size: 14px;
			}
		}
	}
	.opt_form {
		h1 {
			align-items: baseline !important;
		}
		.texts {
			font-size: 13px;
			color: #555;
			margin-top: 5px;
			display: flex;
		}
		.confirm {
			height: 40px;
			width: 200px;
			border-radius: 20px;
			box-shadow: 0 0 15px 0 #f65619;
			border: solid 2px #fff;
			background-image: linear-gradient(to right, #f5af19 0%, #f12711 51%, #f5af19 100%);
			background-size: 200% auto;
			color: #fff;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 16px;
			transition: all 1.5s;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				background-position: right center;
				transition: all 1.5s;
			}
		}
	}
}




