<template>
    <div id="app">
        <notifications position="top right"></notifications>
        <router-view></router-view>
    </div>
</template>
<!-- eslint-disable -->
<script>
	import Vue from 'vue'

    export default {
        name: 'App',
        mounted() {
            // Get profile user
            this.$api.get('user/profile', {

            }).then(res => {
                console.log(res)
                if(res.data.error != 0) {
                    //this.notify('error', res.data.message)
                    if (this.$route.path !== '/login') window.location.assign('/login')
                }
            }).catch(e => {
                this.notify('error', e)
            })

            // Listening Socket
            if(this.$store.state.socket != '') {

                this.$store.state.socket.onmessage = msg => {

                    let data = JSON.parse(msg.data)
                    
                    if(data.action == 'send-message') {
                        let status = 1
                        this.$store.dispatch('listMessage', {data, status})
                    }

                    if(data.action == 'create-group') {
                        this.$store.dispatch('listRooms', data)
                    }

                    if(data.action == 'reaction-message') {
                        let status = 2
                        this.$store.dispatch('reaction', {data, status})
                    }
                }
                
            }
        },
    }
</script>